<div>
     <!-- [@routerTransition]> -->
    <div class="container">
        <h2 class="page-header">Competencies Attribute Form</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <i class="fa fa-dashboard"></i>
                <a href="/dashboard" ng-reflect-router-link="/dashboard">Dashboard</a>
            </li>
            <li class="breadcrumb-item">
                <i class="fa fa-table"></i>
                <a [routerLink]="['/competencies-attribute-form-list']" [routerLinkActive]="['router-link-active']"> Competencies Attribute List</a>
            </li>
            <li class="breadcrumb-item active">
                <i class="fa fa-table"></i> Competencies Attribute Form
            </li>
        </ol>
        <form #competenciesAttributeForm="ngForm" (ngSubmit)="onUpdate(competenciesAttributeForm.value)">
            <fieldset class="form-group">

                <div class="form-group">
                    <input style="display: none;" type="text" class="form-control" name="_id" [(ngModel)]="competenciesAttributeResults._id">
                    <label>Attribute:</label>
                    <input type="text" class="form-control" name="attribute" [(ngModel)]="competenciesAttribute.attribute || competenciesAttributeResults.attribute"
                        [required]="true" placeholder="Competencies Attribute Name" id="attribute" #attribute="ngModel" (keyup)="validate()">

                    <div *ngIf="attribute.invalid && (attribute.dirty || attribute.touched)" class="alert alert-danger">
                        <div *ngIf="attribute.errors.required">
                            Competencies Attribute Name is required.
                        </div>

                    </div>
                    <div *ngIf="!isValid" class="alert alert-danger">
                        {{isValidErrorMsg}}
                    </div>

                </div>
                <div class="form-group">
                    <label>Description:</label>
                    <textarea type="text" class="form-control" name="attribute_description" [(ngModel)]="competenciesAttribute.attribute_description || competenciesAttributeResults.attribute_description"
                        placeholder="Competencies Attribute Description"></textarea>
                </div>

                <button [disabled]="!competenciesAttributeForm.valid" type="submit" class="btn btn-success">{{buttonValue}}</button>
                &nbsp;
                <a class="btn btn-danger" [routerLink]="['/competencies-attribute-form-list']" [routerLinkActive]="['router-link-active']">Back</a>

            </fieldset>
        </form>
    </div>
</div>