<div>
    <div class="container">
            <h2 class="page-header">Competencies Attribute Form</h2>
            <ol  class="breadcrumb">
                <li class="breadcrumb-item">
                    <i  class="fa fa-dashboard"></i>
                    <a  href="/dashboard" ng-reflect-router-link="/dashboard">Dashboard</a>
                </li>
                <li  class="breadcrumb-item">
                    <i  class="fa fa-table"></i>
                    <a [routerLink]="['/competencies-attribute-form-list']" [routerLinkActive]="['router-link-active']"> Competencies Attribute List</a>
                </li>
                <li  class="breadcrumb-item active">
                            <i  class="fa fa-table"></i> Competencies Attribute Form
                </li>
            </ol>
        <form #competenciesAttributeForm="ngForm" (ngSubmit)="onSubmitCompetenciesAttr(competenciesAttributeForm)">
            <fieldset  class="form-group">
           
                <div class="form-group">
                    <label>Attribute:</label>
                    <input type="text" class="form-control" 
                    name="attribute" [(ngModel)]="competenciesAttribute.attribute" 
                    [required]="true" placeholder="Attribute Name">
                </div>
                <div class="form-group">
                    <label>Description:</label>
                    <textarea type="text" class="form-control" 
                    name="attribute_description" [(ngModel)]="competenciesAttribute.attribute_description" 
                     placeholder="Attribute Description"></textarea>
                </div>                 
               
                <button [disabled]="!competenciesAttributeForm.valid" type="submit" class="btn btn-success">Save</button>
                &nbsp;
                <a class="btn btn-danger" [routerLink]="['/competencies-attribute-form-list']" [routerLinkActive]="['router-link-active']">Cancel</a>
        
            </fieldset>
        </form>
    </div>
</div>