<div >
    
    <!-- [@routerTransition]> -->
    <div class="container">
        <h2 class="page-header">Matric Look For Last Year List</h2>
        <ol  class="breadcrumb">
            <li class="breadcrumb-item">
                <i  class="fa fa-dashboard"></i>
                <a  href="/dashboard" ng-reflect-router-link="/dashboard">Dashboard</a>
            </li>
            <li  class="breadcrumb-item active">
                <i  class="fa fa-table"></i> Matric Look For Last Year List</li>
        </ol>
        <a class="btn btn-success" [routerLink]="['/matric-look-for-last-year-list/form']" [routerLinkActive]="['router-link-active']">Add New</a>&nbsp;
        <a class="btn btn-primary" (click)="switchTable()">Switch table view</a>&nbsp;        
        <div *ngIf="isDeleted" class="alert alert-success"><strong  class="ng-tns-c11-2">Well done!</strong> Successfully Deleted. </div>
        <fieldset [hidden]="!switchOnOff">
        <div class="table-responsive">
            <table class="table table-hover">
                    <thead>
                                     
                      <tr>
                        <th>No.</th>
                        <th>Matric Name</th>
                        <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let matric of matricsResult;  let i=index">
                            <td>{{i + 1}}</td>
                        <td><span class="" >{{matric.name}}</span></td>
                        <td>
                                <a [routerLink]="['/matric-look-for-last-year-list/form',matric._id]"  ><i  class="fa fa-edit"></i></a>&nbsp;
                                <a  (click)="onDelete(matric)" ><i  class="fa fa-trash"></i></a>&nbsp;
                        </td>
                    </tr>     
                </tbody>
                </table>
        </div>
    </fieldset>
    <fieldset [hidden]="switchOnOff">
    <ng2-smart-table [settings]="settings" [(source)]="source" (custom)="onCustomAction($event)"></ng2-smart-table>
</fieldset>
    </div>
</div>