<div >
    <!-- [@routerTransition]> -->
        <div class="container">
            <h2 class="page-header">General Config List</h2>
            <ol  class="breadcrumb">
                <li class="breadcrumb-item">
                    <i  class="fa fa-dashboard"></i>
                    <a  href="/dashboard" ng-reflect-router-link="/dashboard">Dashboard</a>
                </li>
                <li  class="breadcrumb-item active">
                    <i  class="fa fa-table"></i> General Config List</li>
            </ol>
            

            <div class="table-responsive">
                <table class="table table-hover">
                        <thead>
                                <a class="btn btn-success" [routerLink]="['/general-config-list/form']" [routerLinkActive]="['router-link-active']">Add New</a>&nbsp;
                          <tr>
                                <th>No.</th>
                                <th>Key</th>
                                <th>Key Desc</th>
                                <th>Value</th>
                                <th>Tag</th>
                                <th>Sequence</th>
                                <th>Description</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let generalConfig of generalConfigResults;  let i=index">
                                <td nowrap>{{i + 1}}</td>
                                <td nowrap><span class="" >{{generalConfig.key}}</span></td>
                                <td nowrap><span class="" >{{generalConfig.key_desc}}</span></td>
                                <td nowrap><span class="" >{{generalConfig.value}}</span></td>
                                <td nowrap><span class="" >{{generalConfig.tag}}</span></td>
                                <td nowrap><span class="" >{{generalConfig.sequence}}</span></td>
                                <td nowrap><span class="" >{{generalConfig.description}}</span></td>
                                <td nowrap>
                                        <a [routerLink]="['/general-config-list/form',generalConfig._id]" [routerLinkActive]="['router-link-active']" ><i  class="fa fa-edit"></i></a>&nbsp;
                                        <a (click)="onDelete(generalConfig)" ><i  class="fa fa-trash"></i></a>&nbsp;
                                </td>
                        </tr>     
                    </tbody>
                    </table>
            </div>
        </div>
    </div>