<div>
    <!-- [@routerTransition]> -->
    <div class="container">
        <h2 class="page-header">Competencies Functional Attributes List</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <i class="fa fa-dashboard"></i>
                <a href="/dashboard" ng-reflect-router-link="/dashboard">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">
                <i class="fa fa-table"></i> Competencies Functional Attributes List</li>
        </ol>
        <a class="btn btn-success" [routerLink]="['/competencies-functional-attribute-form']" [routerLinkActive]="['router-link-active']">Add New</a>
        <a class="btn btn-success" [routerLink]="['/review-of-competencies-list']" [routerLinkActive]="['router-link-active']">List view1</a>
        <a class="btn btn-success" [routerLink]="['/review-of-competencies-list/form']" [routerLinkActive]="['router-link-active']">Add New 1</a>
                  
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                      <tr>
                        <th>No.</th>
                        <th>Function</th>
                        <th>Role</th>
                        <th>Behavioral Competencies</th>
                        <th>Competencies Level</th>
                        <th>Weightage</th>
                        <th>Weightage Unit</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let result of competenciesFunctionalAttributesResults;  let i=index">
                        <td>{{i + 1}}</td>

                        <td>
                            <span class="">{{result.function_id}}</span>
                        </td>

                        <td>
                                <span *ngIf="result.role_id.name != 'undefined'">
                                    {{result.role_id.name}}
                                </span>
                            </td>
                        <td>
                            <span *ngIf="result.behavioral_competencies != 'undefined'">
                                {{result.behavioral_competencies}}
                            </span>

                        </td>

                        <td>
                            <span *ngIf="result.competency_level.level_name != 'undefined'">
                                {{result.competency_level.level_name}}
                            </span>

                        </td>

                        <td>
                            <span class="">{{result.weightage}}</span>
                        </td>

                        <td>
                            <span class="">{{result.weightage_unit}}</span>
                        </td>

                        <td>
                            <a [routerLink]="['/competencies-functional-attributes-form',result._id]" [routerLinkActive]="['router-link-active']">
                                <i class="fa fa-edit"></i>
                            </a>&nbsp;
                            <a (click)="onDelete(result)">
                                <i class="fa fa-trash"></i>
                            </a>&nbsp;
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>