<div >

<!-- [@routerTransition]> -->
    <div class="container">
        <h2 class="page-header">Appraisal Functional Attribute List</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <i class="fa fa-dashboard"></i>
                <a href="/dashboard" ng-reflect-router-link="/dashboard">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">
                <i class="fa fa-table"></i> Appraisal Functional Attribute List</li>
        </ol>
        <a class="btn btn-success" [routerLink]="['/appriasal-attribute-form']" [routerLinkActive]="['router-link-active']">Add New</a>&nbsp;
        <a class="btn btn-primary" (click)="switchTable()">Switch table view</a>&nbsp;
        <a class="btn btn-primary">Clone</a>&nbsp;
        <a class="btn btn-success" [routerLink]="['/review-of-goals-list/form']" [routerLinkActive]="['router-link-active']">new goal sheet</a>&nbsp;
        <fieldset [hidden]="!switchOnOff">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Function</th>
                        <th>Role</th>
                        <th >Goal Category</th>
                        <th >Goal SubCategory</th>
                        <th >Description</th>
                        <th >Target For Last Year</th>
                        <!-- <th >Target For Last Year Description</th> -->
                        <th >Target For Next Year</th>
                        <!-- <th >Target For Next Year Description</th> -->
                        <th >Weightage</th>
                        <th >Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let result of apprisalFunctionalAttributeResults;  let i=index">
                        <td>{{i + 1}}</td>
                        <td >
                            <span class="">{{result.function_id}}</span>
                        </td>
                        <td >
                            <span class="">{{result.role_id.name}}</span>
                        </td>
                        <td>
                            <span class="">{{result.category.name}} </span>
                        </td>
                        <td>
                            <span class="">{{result.subcategory.name}} </span>
                        </td>
                        <td>
                            <span class="">{{result.description}} </span>
                        </td>
                        <td >
                            <span class="">{{result.target_for_last_year}} {{result.target_for_last_year_unit}}</span>
                        </td>
                        <td >
                            <span class="">{{result.target_for_next_year}} {{result.target_for_next_year_unit}}</span>
                        </td>
                        <td >
                            <span class="">{{result.weightage}}</span>
                        </td>
                        <td >
                            <a [routerLink]="['/apprisal-functional-attribute-form',result._id]" [routerLinkActive]="['router-link-active']">
                                <i class="fa fa-edit"></i>
                            </a>&nbsp;
                            <a (click)="onDelete(result)" >
                                <i class="fa fa-trash"></i>
                            </a>&nbsp;
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
    <fieldset [hidden]="switchOnOff">
    <!-- <ng2-smart-table [settings]="settings" [(source)]="source" (custom)="onCustomAction($event)"></ng2-smart-table> -->
    </fieldset>
    </div>
</div>