
        <div>
            <div class="container">
                    <h2 class="page-header">General Config Form</h2>
                    <ol  class="breadcrumb">
                        <li class="breadcrumb-item">
                            <i  class="fa fa-dashboard"></i>
                            <a  href="/dashboard" ng-reflect-router-link="/dashboard">Dashboard</a>
                        </li>
                        <li  class="breadcrumb-item">
                            <i  class="fa fa-table"></i>
                            <a [routerLink]="['/general-config-list']" [routerLinkActive]="['router-link-active']"> General Config List</a>
                        </li>
                        <li  class="breadcrumb-item active">
                                    <i  class="fa fa-table"></i> General Config Form
                        </li>
                    </ol>
                   
                <form #generalConfigForm="ngForm" (ngSubmit)="onUpdate(generalConfigForm.value)">
                    <fieldset  class="form-group">
                            <input style="display: none;" type="text" class="form-control" 
                            name="_id" [(ngModel)]="generalConfigResults._id" >
                        <div class="form-group">
                            <label>Key:</label>
                            <input type="text" class="form-control" 
                            name="key" [(ngModel)]="generalConfigResults.key" 
                            [required]="true" placeholder="Key Name">

                        </div>

                        <div class="form-group">
                            <label>Key Description:</label>
                            <input type="text" class="form-control" 
                            name="key_desc" [(ngModel)]="generalConfigResults.key_desc" 
                            placeholder="Key Description">
                        </div>
                        <div class="form-group">
                            <label>Value:</label>
                            <input type="text" class="form-control" 
                            name="value" [(ngModel)]="generalConfigResults.value" 
                            [required]="true" placeholder="Key Value">
                        </div> 
                        <div class="form-group">
                            <label>Tag:</label>
                            <input type="text" class="form-control" 
                            name="tag" [(ngModel)]="generalConfigResults.tag" 
                            [required]="true" placeholder="Key Tag Name">
                        </div>        
                        <div class="form-group">
                            <label>Sequence:</label>
                            <input type="text" class="form-control" 
                            name="sequence" [(ngModel)]="generalConfigResults.sequence"
                            [required]="true" placeholder="sequence Number" pattern="[0-9]*">
                        </div> 
                        <div class="form-group">
                            <label>Description:</label>
                            <input type="text" class="form-control" 
                            name="description" [(ngModel)]="generalConfigResults.description" 
                             placeholder="Description">
                        </div>        

                        
                       
                        <button [disabled]="!generalConfigForm.valid" type="submit" class="btn btn-success">Update</button>
                        &nbsp;
                        <a class="btn btn-danger" [routerLink]="['/general-config-list']" [routerLinkActive]="['router-link-active']">Cancel</a>
                
                    </fieldset>
                </form>
            </div>
        </div>