<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Dashboard' | translate }}
        </a>
        <a [routerLink]="['/functional-list']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;Functional List
        </a>
        <a [routerLink]="['/role-list']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;Role
        </a>
       
        <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('goals')">
                        <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
                    <span>{{ 'Goals' | translate }}</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'goals'">
                    <ul class="submenu">
                        <li>
                                <a [routerLink]="['/goalcategory-list']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                    <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
                                    <span>{{ 'Category' | translate }}</span>
                                </a>
                            
                        </li>
                        <li>
                                
                                <a [routerLink]="['/goalsubcategory-list']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                    <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
                                    <span>{{ 'Subcategory' | translate }}</span>
                                </a>
                        </li>
                        <li>
                                <a [routerLink]="['/review-of-goals-list']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                    <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
                                    <span>{{ 'Review of Goals' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
            <div class="nested-menu">
                    <a class="list-group-item" (click)="addExpandClass('competencies')">
                            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
                        <span>{{ 'Competencies' | translate }}</span>
                    </a>
                    <li class="nested" [class.expand]="showMenu === 'competencies'">
                        <ul class="submenu">
                            <li>
                                    <a [routerLink]="['/competencies-level']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                        <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
                                        <span>{{ 'Level' | translate }}</span>
                                    </a>
                                
                            </li>
                            <li>
                                    
                                    <a [routerLink]="['/review-of-competencies-list']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                        <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
                                        <span>{{ 'Review of Competencies' | translate }}</span>
                                    </a>
                            </li>
                            
                        </ul>
                    </li>
                </div>
        <a [routerLink]="['/general-config-list']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;General Config
        </a>
        <a [routerLink]="['/appraisal']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;Appraisal
        </a>
        
        <div class="header-fields">
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span><i class="fa fa-user"></i>&nbsp; John Smith</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'profile'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}</span>
                            </a>
                        </li>
                    
                        <li>
                            <a [routerLink]="['/login']" (click)="onLoggedout()">
                                <span><i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
</nav>
