<div *ngIf="loading" style="text-align: center;padding-top: 110px;">
    <img src="/assets/images/loading.gif" alt="loading" style="width: 80px;" />
    <img [hidden]="loading" (load)="onLoad()" src="{{ source }}" />
    <span>Please wait...</span>
</div>

<div *ngIf="mainComponent">
    <!-- Header information -->
    <div class="container">
        <h2 class="page-header">Appraisal Status</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <i class="fa fa-dashboard"></i>
                <a href="/dashboard" ng-reflect-router-link="/dashboard">Dashboard</a>
            </li>
            <li class="breadcrumb-item">
                <i class="fa fa-table"></i>
                <a [routerLink]="['/appraisal']" [routerLinkActive]="['router-link-active']"> Appraisal List</a>
            </li>
            <li class="breadcrumb-item active">
                <i class="fa fa-table"></i> Appraisee Status
            </li>
        </ol>

    </div>

    <!-- Data not found message -->
    <fieldset [hidden]="!dataNotFound">
        <h1>Data not found!!!</h1>

    </fieldset>
    <!-- Main content -->
    <fieldset [hidden]="dataNotFound">
        <!-- Doughnut chart -->
        <div class="row" #empChart>
            <div class="col col-sm-12">
                <div class="card mb-6">
                    <div class="card-header">
                        Doughnut Chart
                    </div>
                    <div class="card-body">
                        <canvas baseChart height="100px" [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"
                            [colors]="chartColors" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>

        <hr>
        <!-- smart table -->
        <fieldset [hidden]="false">
            <div class="row" #empDetails>
                <div class="col col-sm-12">
                    <div class="card mb-6">
                        <div class="card-header">
                            <b>{{tableHeaderLabel}}</b>
                        </div>
                        <div class="card-body">
                            <!-- Drop down -->
                            <div class="form-inline">
                                    <label class="mr-sm-2" for="inlineFormCustomSelect">Select number of records shown</label>
                                    <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect"
                                    (change)="changeRecordRows(perPageRecord)" [(ngModel)]="perPageRecord">
                                      <option selected value="5">5</option>
                                      <option value="10">10</option>
                                      <option value="50">50</option>
                                    </select>
                                 
                                </div>
                            <!-- smart data table -->
                            <div *ngIf="empFilteredResult != undefined && empFilteredResult.length > 0">
                                    <ng2-smart-table [settings]="settings" [(source)]="empFilteredResult"></ng2-smart-table>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

    </fieldset>
</div>