<div>
    <div class="container">
        <h2 class="page-header">Competencies Functional Attribute Form</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <i class="fa fa-dashboard"></i>
                <a href="/dashboard" ng-reflect-router-link="/dashboard">Dashboard</a>
            </li>
            <li class="breadcrumb-item">
                <i class="fa fa-table"></i>
                <a [routerLink]="['/competencies-functional-attributes-list']" [routerLinkActive]="['router-link-active']"> Competencies Functional Attribute List</a>
            </li>
            <li class="breadcrumb-item active">
                <i class="fa fa-table"></i> Competencies Functional Attribute Form
            </li>
        </ol>
        <form #competenciesFuncAttrForm="ngForm" (ngSubmit)="onUpdate(competenciesFuncAttrForm.value)">
            <fieldset class="form-group">
                <table class="table table-striped  table-text-md">
                    <tbody>
                        <tr>
                            <div class="form-group">
                                <td width="300px">
                                    <label>Function ID *</label>
                                </td>
                                <td width="400px">
                                    <select name="function_id" [(ngModel)]="competenciesFunctionalAttributesResults.function_id" [required]="true" style=" width: 400px;"
                                        id="function_idName" #function_idName="ngModel">
                                        <option *ngFor="let functionid of functionids" value="{{functionid}}">
                                            {{functionid}}
                                        </option>
                                    </select>
                                    <div *ngIf="function_idName.invalid && (function_idName.dirty || function_idName.touched)" class="alert alert-danger">
                                        <div *ngIf="function_idName.errors.required">
                                            Functional ID is required.
                                        </div>
                                    </div>
                                </td>
                            </div>

                        </tr>
                        <tr>
                            <div class="form-group">
                                <td width="300px">
                                    <label>Role * </label>
                                </td>
                                <td width="400px">
                                    <select name="role_id" [(ngModel)]="competenciesFunctionalAttributesResults.role_id._id" [required]="true" style=" width: 400px;"
                                        id="role_id" #role_id="ngModel">
                                        <option *ngFor="let role of roles" value="{{role._id}}">
                                            {{role.name}}
                                        </option>
                                    </select>
                                    <div *ngIf="role_id.invalid && (role_id.dirty || role_id.touched)" class="alert alert-danger">
                                        <div *ngIf="role_id.errors.required">
                                            Role is required.
                                        </div>
                                    </div>
                                </td>
                            </div>
                        </tr>
                        <tr>
                            <div class="form-group">
                                <input style="display: none;" type="text" class="form-control" name="_id" [(ngModel)]="competenciesFunctionalAttributesResults._id">
                                <td width="300px">
                                    <label>Behavioral competencies *</label>
                                </td>
                                <td width="400px">
                                        <textarea type="text" class="form-control" name="behavioral_competencies" [(ngModel)]="competenciesFunctionalAttributesResults.behavioral_competencies"
                                        [required]="true" placeholder="Behavioral competencies" id="behavioral_competencies" #behavioral_competencies="ngModel" (keyup)="validate()" style="height: 108px;">
                                       </textarea>
                                    <div *ngIf="behavioral_competencies.invalid && (behavioral_competencies.dirty || behavioral_competencies.touched)" class="alert alert-danger">
                                        <div *ngIf="behavioral_competencies.errors.required">
                                                Behavioral competencies is required.
                                        </div>
                                    </div>
                                </td>
                            </div>
                        </tr>
                        <tr>
                            <div class="form-group">
                                <td width="300px">
                                    <label>Competencies Level *</label>
                                </td>
                                <td width="400px">
                                    <select name="competency_level" [(ngModel)]="competenciesFunctionalAttributesResults.competency_level._id" [required]="true"
                                        style=" width: 400px;" id="competency_level" #competency_level="ngModel">
                                        <option *ngFor="let competenciesLevel of competenciesLevelResults" value={{competenciesLevel._id}}>
                                            {{competenciesLevel.level_name}}
                                        </option>
                                    </select>
                                    <div *ngIf="competency_level.invalid && (competency_level.dirty || competency_level.touched)" class="alert alert-danger">
                                        <div *ngIf="competency_level.errors.required">
                                            Competencies Level is required.
                                        </div>
                                    </div>
                                </td>
                            </div>
                        </tr>
                        <tr>
                            <div class="form-group">
                                <td width="300px">
                                    <label>Weightage *</label>
                                </td>
                                <td width="400px">
                                    <input type="number" class="form-control" name="weightage" [(ngModel)]="competenciesFunctionalAttributesResults.weightage || competenciesFunctionalAttributes.weightage"
                                        [required]="true" placeholder="Weightage Number" pattern="[0-9] || [0-9]{2} || [0-9]{3}"
                                        maxlength="3" id="weightage" #weightage="ngModel" (keyup)="validate()">
                                    <div *ngIf="weightage.invalid && (weightage.dirty || weightage.touched)" class="alert alert-danger">
                                        <div *ngIf="weightage.errors.required">
                                            Weightage is required.
                                        </div>
                                    </div>
                                </td>
                            </div>
                        </tr>
                        <tr>
                            <div class="form-group">
                                <td width="300px">
                                    <label>Weightage Unit *</label>
                                </td>
                                <td width="400px">
                                    <input type="text" class="form-control" name="weightage_unit" [(ngModel)]="competenciesFunctionalAttributesResults.weightage_unit || competenciesFunctionalAttributes.weightage_unit"
                                        [required]="true" placeholder="Weightage Unit" id="weightage_unit" #weightage_unit="ngModel"
                                        (keyup)="validate()">
                                    <div *ngIf="weightage_unit.invalid && (weightage_unit.dirty || weightage_unit.touched)" class="alert alert-danger">
                                        <div *ngIf="weightage_unit.errors.required">
                                            Weightage Unit is required.
                                        </div>
                                    </div>
                                </td>
                            </div>

                        </tr>

                        <button [disabled]="!competenciesFuncAttrForm.valid" type="submit" class="btn btn-success">Update</button>
                        &nbsp;
                        <a class="btn btn-danger" [routerLink]="['/competencies-functional-attributes-list']" [routerLinkActive]="['router-link-active']">Back</a>

                    </tbody>

                </table>
            </fieldset>
        </form>
    </div>
</div>