<div *ngIf="loading" style="text-align: center;padding-top: 110px;">
    <img src="/assets/images/loading.gif" alt="loading" style="width: 80px;" />
    <img [hidden]="loading" (load)="onLoad()" src="{{ source }}" />
    <span>Please wait...</span>
</div>

<div *ngIf="mainComponent">
    <div class="container">
        <h2 class="page-header">Appraisal Form</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <i class="fa fa-dashboard"></i>
                <a href="/dashboard" ng-reflect-router-link="/dashboard">Dashboard</a>
            </li>
            <li class="breadcrumb-item">
                <i class="fa fa-table"></i>
                <a [routerLink]="['/appraisal']" [routerLinkActive]="['router-link-active']"> Appraisal List</a>
            </li>
            <li class="breadcrumb-item active">
                <i class="fa fa-table"></i> Appraisal Form
            </li>
        </ol>
        <fieldset [disabled]="locked">
            <form #appraisalForm="ngForm" (ngSubmit)="onAddUpdate()">
                <fieldset class="form-group1">
                    <table class="table table-striped  table-text-md">
                        <tbody>
                            <tr>
                                <div class="form-group1">
                                    <input style="display: none;" type="text" class="form-control" name="_id" [(ngModel)]="appraisalMasterResults._id">
                                    <td width="300px">
                                        <label>Appraisal Name *</label>
                                    </td>
                                    <td width="400px">
                                        <input type="text" class="form-control" name="appraisal_name" [(ngModel)]="appraisalMasterResults.appraisal_name" required
                                            placeholder="Appraisal Name" #appraisal_name="ngModel" (keyup)="validate()">
                                        <div *ngIf="appraisal_name.invalid && (appraisal_name.dirty || appraisal_name.touched)" class="alert alert-danger">
                                            <div *ngIf="appraisal_name.errors.required">
                                                Appraisal name is required.
                                            </div>
                                        </div>
                                        <div *ngIf="!isValid" class="alert alert-danger">
                                            {{isValidErrorMsg}}
                                        </div>
                                    </td>
                                </div>
                            </tr>
                            <tr>
                                <div class="form-group1">
                                    <td width="300px">
                                        <label>Appraisal Form Introduction *</label>
                                    </td>
                                    <td width="400px">
                                        <textarea class="form-control" name="appraisal_intro" [(ngModel)]="appraisalMasterResults.appraisal_intro" required placeholder="Appraisal  form introduction"
                                            #appraisal_intro="ngModel" (keyup)="validate()">
                                            </textarea>
                                        <div *ngIf="appraisal_intro.invalid && (appraisal_intro.dirty || appraisal_intro.touched)" class="alert alert-danger">
                                            <div *ngIf="appraisal_intro.errors.required">
                                                Appraisal form introduction is required.
                                            </div>
                                        </div>

                                    </td>
                                </div>
                            </tr>
                            <tr>
                                <div class="form-group1">
                                    <td width="300px">
                                        <label>Appraisal type</label>
                                    </td>
                                    <td width="400px">
                                        <select name="type" [(ngModel)]="appraisalMasterResults.type" [required]="true" #type="ngModel" style=" width: 376px;" class="form-control">
                                            <option value=1>Mid year review</option>
                                            <option value=2>Yearly review</option>
                                        </select>
                                        <div *ngIf="type.invalid && (type.dirty || type.touched)" class="alert alert-danger">
                                            <div *ngIf="type.errors.required">
                                                Appraisal type is required.
                                            </div>
                                        </div>
                                    </td>
                                </div>
                            </tr>

                            <tr>
                                <div class="form-group1">
                                    <td width="300px">
                                        <label>Appraisal Due-Date</label>
                                    </td>
                                    <td width="400px">
                                        <div class="form-group1">
                                            <div class="input-group datepicker-input">
                                                <input class="form-control" placeholder="yyyy-mm-dd" name="due_date" ngbDatepicker #d="ngbDatepicker" type="text" value="{{appraisalMasterResults.due_date | date: 'yyyy-MM-dd'}}"
                                                    (dateSelect)="onDateSelect($event)">
                                                <button class="input-group-addon" (click)="d.toggle()" type="button">
                                                    <span class="fa fa-calendar"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                </div>
                            </tr>

                            <tr>
                                <div class="form-group1">
                                    <td width="300px">
                                        <label>Appraisal Status</label>
                                    </td>
                                    <td width="400px">
                                        <select name="status" [(ngModel)]="appraisalMasterResults.status" [required]="true" #status="ngModel" style=" width: 376px;"
                                            class="form-control">
                                            <option *ngFor="let statusOption of statusOptions" value={{statusOption}}>
                                                {{statusOption}}
                                            </option>
                                        </select>
                                        <div *ngIf="status.invalid && (status.dirty || status.touched)" class="alert alert-danger">
                                            <div *ngIf="status.errors.required">
                                                Appraisal status is required.
                                            </div>
                                        </div>
                                    </td>
                                </div>
                            </tr>

                        </tbody>
                    </table>

                    <button [disabled]="!appraisalForm.valid" type="submit" class="btn btn-success">{{buttonValue}}</button>
                    &nbsp;
                    <a class="btn btn-danger" [routerLink]="['/appraisal']" [routerLinkActive]="['router-link-active']">Back</a>
                </fieldset>
            </form>
        </fieldset>
    </div>
    <fieldset [disabled]="locked">
        <!-- List view -->
        &nbsp;&nbsp;&nbsp;
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <span class="row">
                    <h4>Employee's List</h4>
                </span>
            </li>

        </ol>
       
        <div style="overflow-x:auto;">
            <div datatable class="table-responsive" *ngIf="appraisalUserResults != undefined">
                <table class="card-body  table-hover">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Employee Name</th>
                            <th>Emp Code</th>
                            <th>Designation</th>
                            <th>Supervisor</th>
                            <th>Appraiser</th>
                            <th>Reviewer</th>
                            <th>Active / Inactive</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let appraisalUser of appraisalUserResults;  let i=index">
                            <td align="center" scope="row">{{i + 1}}</td>
                            <td align="left">
                                <span class="">{{appraisalUser.first_name}} {{appraisalUser.last_name}}</span>
                            </td>
                            <td align="left">
                                <span class="">{{appraisalUser.emp_code}}</span>
                            </td>
                            <td align="left">
                                <span class="">{{appraisalUser.designation}}</span>
                            </td>
                            <td align="left">
                                <span class="">{{appraisalUser.supervisor_name}}</span>
                            </td>
                            <td align="left">
                                <span class="">{{appraisalUser.appraiser_name}}</span>
                            </td>
                            <td align="left">
                                <span class="">{{appraisalUser.reviewer_name}}</span>
                            </td>
                            <td align="center">
                                <input type="checkbox" [checked]="true" [disabled]="locked" (change)="checkBoxEvent(appraisalUser,$event)" />
                            </td>
                            <td align="center">
                                <span *ngIf="!locked">
                                    <a (click)="onModelOpen(content,appraisalUser)">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                </span>
                                {{lockedStatus}}

                            </td>
                        </tr>
                    </tbody>
                </table>

                <!-- <a class="btn btn-danger" [routerLink]="['/appraisal']" [routerLinkActive]="['router-link-active']">Back</a> -->
                 </div>

        </div>
        <!-- table end -->
    </fieldset>
</div>

<!-- Large modal -->
<div class="card-body">
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">{{employeeappraisal.employee_name}}</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form #empForm="ngForm" (ngSubmit)="onUpdateModel(empForm.value)">
            <div class="modal-body">
                <table class="table table-striped  table-text-md">
                    <tr>
                        <div class="form-group1">
                            <div class="row">
                                <div class="col-xl-4">
                                    <td>
                                        <label>Emp Code</label>
                                    </td>
                                </div>
                                <div class="col-xl-6">
                                    <td>
                                        <span hidden>{{employeeappraisal.appraisal_id}}</span>
                                        <span hidden>{{employeeappraisal.employee_id}}</span>
                                        <span>{{employeeappraisal.employee_code}}</span>
                                    </td>
                                </div>
                            </div>
                        </div>
                    </tr>
                    <tr>
                        <div class="form-group1">
                            <div class="row">
                                <div class="col-xl-4">
                                    <td>
                                        <label>Designation</label>
                                    </td>
                                </div>
                                <div class="col-xl-6">
                                    <td>
                                        <span>{{employeeappraisal.designation}}</span>
                                    </td>
                                </div>
                            </div>
                        </div>
                    </tr>
                    <tr>
                        <div class="form-group1">
                            <div class="row">
                                <div class="col-xl-4">
                                    <td>
                                        <label>Supervisor</label>
                                    </td>
                                </div>
                                <div class="col-xl-6">
                                    <td>
                                        <span>{{employeeappraisal.supervisor}}</span>
                                    </td>
                                </div>
                            </div>
                        </div>
                    </tr>
                    <tr>
                        <div class="form-group1">
                            <div class="row">
                                <div class="col-xl-4">
                                    <td>
                                        <label>Appraiser</label>
                                    </td>
                                </div>
                                <div class="col-xl-6">
                                    <td>
                                        <ss-multiselect-dropdown [options]="managersOptions" [settings]="mySettings" [texts]="myTexts" [(ngModel)]="employeeappraisal.appraiser_id"
                                            name="appraiser_id" style=" width: 400px;"></ss-multiselect-dropdown>

                                    </td>
                                </div>
                            </div>
                        </div>
                    </tr>

                    <tr>
                        <div class="form-group1">
                            <div class="row">
                                <div class="col-xl-4">
                                    <td>
                                        <label>Reviewer</label>
                                    </td>
                                </div>
                                <div class="col-xl-6">
                                    <td>
                                        <ss-multiselect-dropdown [options]="managersOptions" [settings]="mySettings" [texts]="myTexts" [(ngModel)]="employeeappraisal.reviewer_id"
                                            name="reviewer_id" style=" width: 400px;"></ss-multiselect-dropdown>

                                    </td>
                                </div>
                            </div>
                        </div>
                    </tr>

                </table>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">Update</button>
                <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
            </div>
        </form>
    </ng-template>
</div>