<div *ngIf="loading" style="text-align: center;padding-top: 110px;">
        <img src="/assets/images/loading.gif" alt="loading" style="width: 80px;" />
        <img [hidden]="loading" (load)="onLoad()" src="{{ source }}" />
        <span>Please wait...</span>
    </div>
<div *ngIf="!loading">
        <div class="container">
            <!-- header section -->
            <h2 class="page-header">Review of Goal Actions</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <i class="fa fa-dashboard"></i>
                    <a href="/dashboard" ng-reflect-router-link="/dashboard">Dashboard</a>
                </li>
                <li class="breadcrumb-item">
                    <i class="fa fa-table"></i>
                    <a [routerLink]="['/review-of-goals-list']" [routerLinkActive]="['router-link-active']"> Review of Goals List</a>
                </li>
                <li class="breadcrumb-item active">
                    <i class="fa fa-table"></i> Review of Goal Actions
                </li>
            </ol>
            <!-- header section end -->
            
            <!-- ######################################################### -->

            <!-- Save Goals section -->
            <fieldset *ngIf="isSaveAction">
            <form #reviewGoalActionSaveForm="ngForm" (ngSubmit)="onSave()">
               <!-- static questions -->
                <fieldset class="form-group">
                    <table class="table table-striped  table-text-md">
                        <tbody>
                            <tr>
                                <div class="form-group">
                                    <td width="300px">
                                        <label>Function *</label>
                                    </td>
                                    <td width="225px">
                                        <select name="function_id" [(ngModel)]="reviewOfGoalsModel.function"
                                        [required]="true" style=" width: 225px;"
                                            id="function" #function="ngModel">
                                            <option *ngFor="let function of functions" value={{function}}>
                                                {{function}}
                                            </option>
                                        </select>
                                        <div *ngIf="function.invalid && (function.dirty || function.touched)" class="alert alert-danger">
                                            <div *ngIf="function.errors.required">
                                                Function is required.
                                            </div>
                                        </div>
                                    </td>
                                </div>
                            </tr>
                             <tr>
                                <div class="form-group">
                                    <td width="300px">
                                        <label>Role *</label>
                                    </td>
                                    <td width="400px">
                                        <ss-multiselect-dropdown [options]="roleOptions" 
                                        [(ngModel)]="reviewOfGoalsModel.role" [settings]="mySettings"
                                        [required]="true" name="role_id" style=" width: 225px;" id="role_id"
                                            #role_id="ngModel">
                                        </ss-multiselect-dropdown>
                                        <div *ngIf="role_id.invalid && (role_id.dirty || role_id.touched)" class="alert alert-danger">
                                            <div *ngIf="role_id.errors.required">
                                                Role is required.
                                            </div>
                                        </div>
                                    </td>
                                </div>
                            </tr>
                            <tr>
                                <div class="form-group">
                                    <td width="300px">
                                        <label>Category *</label>
                                    </td>
                                    <td width="225px">
                                            <select name="category_name" [(ngModel)]="reviewOfGoalsModel.category"
                                            [required]="true"   style=" width: 225px;" id="category_name" #category_name="ngModel">
                                            <option *ngFor="let category of categorys" value={{category._id}}>
                                                {{category.name}}
                                            </option>
                                        </select>
                                        
                                        <div *ngIf="category_name.invalid && (category_name.dirty || category_name.touched)" class="alert alert-danger">
                                            <div *ngIf="category_name.errors.required">
                                                Goal Category is required.
                                            </div>
                                        </div>
                                    </td>
    
                                </div>
                            </tr>
                            <tr>
                                <div class="form-group">
                                    <td width="300px">
                                        <label>Sub Category *</label>
                                    </td>
                                    <td width="400px">
                                        <ss-multiselect-dropdown [options]="subCategoryOptions" 
                                        [(ngModel)]="reviewOfGoalsModel.subcategory" [settings]="mySettings"
                                        [required]="true"   name="subcategory" style=" width: 225px;" id="subcategory"
                                            #subcategory="ngModel">
                                        </ss-multiselect-dropdown>
                                        <div *ngIf="subcategory.invalid && (subcategory.dirty || subcategory.touched)" class="alert alert-danger">
                                            <div *ngIf="subcategory.errors.required">
                                                SubCategory is required.
                                            </div>
                                        </div>
                                    </td>
    
                                </div>
                            </tr> 
                            <tr>
                                <div class="form-group">
                                    <td width="300px">
                                        <label>Descriptions *</label>
                                    </td>
                                    <td width="400px">
                                            <textarea type="text" class="form-control" name="description" 
                                            [(ngModel)]="reviewOfGoalsModel.description" [required]="true" 
                                             placeholder="description" id="description" #description="ngModel"
                                              (keyup)="validate()" style="height: 108px;">
                                            </textarea>
                    
                                        <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger">
                                            <div *ngIf="description.errors.required">
                                                    Descriptions is required.
                                            </div>
                                        </div>
                                     
                                    </td>
                                </div>
                            </tr>
                        </tbody>
    
                    </table>
                </fieldset>  
                 <!-- static questions end -->
                 
                <!-- dynamic targets -->
                 <fieldset class="form-group">
                    <div class="row">
                        <div class="col-3">
                        <div class="form-group">
                            <label>Target % *</label>
                            <input type="text" class="form-control" name="target" 
                            [(ngModel)]="reviewOfGoalsTargetModel.target"
                            [required]="true" placeholder="Target" pattern="^[0-9]*" maxlength="3"
                                id="target" #target="ngModel" (keyup)="validate()">
        
                            <div *ngIf="target.invalid && (target.dirty || target.touched)" class="alert alert-danger">
                                <div *ngIf="target.errors.required">
                                    Target is required.
                                </div>
                                <div *ngIf="target.errors.pattern">
                                    Number is required.
                                </div>
                            </div>
                       </div>
                    </div>
                       <div class="col-3">
                        <div class="form-group">
                            <label>Weightage % *</label>
                            <input id="weightage" type="text" class="form-control" name="weightage" 
                            [(ngModel)]="reviewOfGoalsTargetModel.weightage"
                                [required]="true" placeholder="Weightage Number" pattern="^[0-9]*" 
                                maxlength="3"
                                id="weightage" #weightage="ngModel" (keyup)="validate()">
        
                            <div *ngIf="weightage.invalid && (weightage.dirty || weightage.touched)" class="alert alert-danger">
                                <div *ngIf="weightage.errors.required">
                                    Weightage is required.
                                </div>
                                <div *ngIf="weightage.errors.pattern">
                                    Number is required.
                                </div>
                             </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                                <label>Year *</label>
                                <input type="text" class="form-control" name="year" 
                                [(ngModel)]="reviewOfGoalsTargetModel.year" maxlength="4" minlength="4"
                                pattern="^[0-9]*"
                                    [required]="true" placeholder="Year of review" 
                                    id="year" #year="ngModel" (keyup)="validate()">
            
                                <div *ngIf="year.invalid && (year.dirty || year.touched)" class="alert alert-danger">
                                    <div *ngIf="year.errors.required">
                                            Year is required. (eg: 2018)
                                    </div>
                                    <div *ngIf="year.errors.maxlength || year.errors.minlength">
                                            check year length is correct?.
                                    </div>
                                    <div *ngIf="year.errors.pattern">
                                            Enter only numbers.
                                    </div>
                                 </div>
                            </div>
                    </div> 
                    <div class="col-3">
                            <div class="form-group">
                                    <label>Term *</label>
                                    <select name="term" [(ngModel)]="reviewOfGoalsTargetModel.term"
                                     [required]="true" #term="ngModel" class="form-control">
                                            <option value="Mid year review">Mid year review</option>
                                            <option value="Yearly review">Yearly review</option>
                                        </select>
                                        <div *ngIf="term.invalid && (term.dirty || term.touched)" class="alert alert-danger">
                                            <div *ngIf="term.errors.required">
                                                    Term is required.
                                            </div>
                                        </div>
                                </div>
                        </div> 
                </div>       
                </fieldset>
                    <!-- dynamic targets end -->
                    <!-- Actions -->
                    <button [disabled]="!reviewGoalActionSaveForm.valid" type="submit" class="btn btn-success">Save</button>
                    &nbsp;
                    <a class="btn btn-danger" [routerLink]="['/review-of-goals-list']" [routerLinkActive]="['router-link-active']">Back</a>
    
               
            </form>
            </fieldset>
            <!-- Save Goals section End -->

            <!-- ######################################################### -->

            <!-- update Goals section -->
            <fieldset *ngIf="!isSaveAction">
                    <!-- Update Review Of Goals -->
                        <div class="row">
                            <div class="col col-sm-12">
                                <div class="card mb-6">
                                    <div class="card-header">
                                        <b>Update Review Of Goals</b>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-inline">
                                                <form #reviewGoalActionUpdateForm="ngForm" (ngSubmit)="onUpdateReviewOfGoals()" style="width: 100%;">
                                                        <!-- static questions -->
                                                         <fieldset class="form-group">
                                                            <div class="row">
                                                                <div class="col-4">
                                                                        <label style="float: left;padding-right: 50px;">Function *</label>
                                                                        <select name="function_id" [(ngModel)]="reviewOfGoalsResults.function"
                                                                        [required]="true" style=" width: 225px;"
                                                                            id="function" #function="ngModel">
                                                                            <option *ngFor="let function of functions" value={{function}}>
                                                                                {{function}}
                                                                            </option>
                                                                        </select>
                                                                        <div *ngIf="function.invalid && (function.dirty || function.touched)" class="alert alert-danger">
                                                                            <div *ngIf="function.errors.required">
                                                                                Function is required.
                                                                            </div>
                                                                        </div>
                                                                </div>
                                                                <!-- function end -->
                                                                <div class="col-8">
                                                                        <label style="float: left;">Role *</label>
                                                                        <ss-multiselect-dropdown [options]="roleOptions" 
                                                                                 [(ngModel)]="reviewOfGoalsResults.role._id" [settings]="mySettings"
                                                                                 [required]="true" name="role_id" style=" width: 225px;" id="role_id"
                                                                                     #role_id="ngModel">
                                                                                 </ss-multiselect-dropdown>
                                                                                 <div *ngIf="role_id.invalid && (role_id.dirty || role_id.touched)" class="alert alert-danger">
                                                                                     <div *ngIf="role_id.errors.required">
                                                                                         Role is required.
                                                                                     </div>
                                                                                 </div>
                                                                </div>
                                                                <!-- Roles end -->
                                                            </div><!--row end -->

                                                            <div class="row">
                                                                    <div class="col-4">
                                                                            <label style="float: left;padding-right: 50px;">Category *</label>
                                                                            <select name="category_name" [(ngModel)]="reviewOfGoalsResults.category._id"
                                                                            [required]="true"   style=" width: 225px;" id="category_name" #category_name="ngModel">
                                                                            <option *ngFor="let category of categorys" value={{category._id}}>
                                                                                {{category.name}}
                                                                            </option>
                                                                        </select>
                                                                        
                                                                        <div *ngIf="category_name.invalid && (category_name.dirty || category_name.touched)" class="alert alert-danger">
                                                                            <div *ngIf="category_name.errors.required">
                                                                                Goal Category is required.
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!-- Category end -->
                                                                    <div class="col-8">
                                                                            <label style="float: left;padding-right: 50px;">Sub Category *</label>
                                                                            <ss-multiselect-dropdown [options]="subCategoryOptions" 
                                                                            [(ngModel)]="reviewOfGoalsResults.subcategory._id" [settings]="mySettings"
                                                                            [required]="true"   name="subcategory" style=" width: 225px;" id="subcategory"
                                                                                #subcategory="ngModel">
                                                                            </ss-multiselect-dropdown>
                                                                            <div *ngIf="subcategory.invalid && (subcategory.dirty || subcategory.touched)" class="alert alert-danger">
                                                                                <div *ngIf="subcategory.errors.required">
                                                                                    SubCategory is required.
                                                                                </div>
                                                                            </div>
                                                                    </div>
                                                                    <!-- Sub Category end -->
                                                                </div><!--row end -->

                                                                <div class="row">
                                                                        <div class="col-12">
                                                                                <label style="float: left;padding-right: 50px;">Descriptions *</label>
                                                                                <textarea type="text" class="form-control" name="description" 
                                                                                [(ngModel)]="reviewOfGoalsResults.description" [required]="true" 
                                                                                 placeholder="description" id="description" #description="ngModel"
                                                                                  (keyup)="validate()" style="height: 108px;width: 100%;">
                                                                                </textarea>
                                                        
                                                                            <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger">
                                                                                <div *ngIf="description.errors.required">
                                                                                        Descriptions is required.
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <!-- Category end -->
                                                                        
                                                                    </div><!--row end -->
                  
                                                                    <div class="row" style="padding-top: 20px;">
                                                                            <!-- Actions -->
                                                                            <button [disabled]="!reviewGoalActionUpdateForm.valid" type="submit" class="btn btn-success">Update</button>
                                                                            &nbsp;
                                                                            <a class="btn btn-danger" [routerLink]="['/review-of-goals-list']" [routerLinkActive]="['router-link-active']">Back</a>
                                                                           </div>
                                                         </fieldset>  
                                                          <!-- static questions end -->
                                                     </form>
                                            

                                        </div>
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Update Review Of Goals Target -->
                        <div class="row">
                                <div class="col col-sm-12">
                                    <div class="card mb-6">
                                        <div class="card-header">
                                            <b>Update Review Of Goals Target</b>
                                        </div>
                                        <div class="card-body">
                                                <a class="btn btn-success" (click)="onModelOpen(content,'','save')">Add New</a>&nbsp;
                                            <div class="form-inline">

                    <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Target </th>
                                        <th>Weightage </th>
                                        <th>Year </th>
                                        <th>Term </th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let result of reviewOfGoalsTargetResults;  let i=index">
                                    <td>{{i + 1}}</td>
                                        <td><span class="">{{result.target}} %</span></td>
                                        <td><span class="">{{result.weightage}} %</span></td>
                                        <td><span class="">{{result.year}}</span></td>
                                        <td><span class="">{{result.term}}</span></td>
                                        <td>
                                            <span *ngIf="result.active_status == true ">Active</span>
                                            <span *ngIf="result.active_status==false">De-Active</span>
                                    </td>
                                    <td>
                                            <a (click)="onModelOpen(content,result,'edit')">
                                                    <i class="fa fa-edit"></i>
                                            </a>&nbsp;
                                            <a (click)="onDelete(result)" >
                                                <i class="fa fa-trash"></i>
                                            </a>&nbsp;
                                    
                                    </td>
                                    </tr>
                                    </tbody>
                                </table>
                                
                        </div>       



                                                             
                                            </div>
                                         </div>
                                     </div>
                                </div>
                         </div>                       
            </fieldset>
            <!-- update Goals section End -->

        </div>
    </div>


    
<!-- Large modal -->
<div class="card-body">
        <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h4 class="modal-title">Review of Goals Target</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form #reviewOfGoalsTargetModelForm="ngForm" (ngSubmit)="onSaveOrUpdateModel(saveOrUpdateModelBtnValue)">
                <div class="modal-body">
                    <table class="table table-striped  table-text-md">
                        <tr>
                            <div class="form-group1">
                                <div class="row">
                                    <div class="col-xl-4">
                                        <td>
                                            <label>Target</label>
                                        </td>
                                    </div>
                                    <div class="col-xl-6">
                                        <td>
                                            <input type="text" class="form-control" name="target" 
                                            [(ngModel)]="reviewOfGoalsTargetObject.target"
                                            [required]="true" placeholder="Target" pattern="^[0-9]*" maxlength="3"
                                                id="target" #target="ngModel" (keyup)="validate()">
                            
                                            <div *ngIf="target.invalid && (target.dirty || target.touched)" class="alert alert-danger">
                                                <div *ngIf="target.errors.required">
                                                    Target is required.
                                                </div>
                                                <div *ngIf="target.errors.pattern">
                                                    Number is required.
                                                </div>
                                            </div>

                                        </td>
                                    </div>
                                </div>
                            </div>
                        </tr>
                        <tr>
                            <div class="form-group1">
                                <div class="row">
                                    <div class="col-xl-4">
                                        <td>
                                            <label>Weightage</label>
                                        </td>
                                    </div>
                                    <div class="col-xl-6">
                                        <td>
                                            <input id="weightage" type="text" class="form-control" name="weightage" 
                                            [(ngModel)]="reviewOfGoalsTargetObject.weightage"
                                                [required]="true" placeholder="Weightage Number" pattern="^[0-9]*" 
                                                maxlength="3"
                                                id="weightage" #weightage="ngModel" (keyup)="validate()">

                                            <div *ngIf="weightage.invalid && (weightage.dirty || weightage.touched)" class="alert alert-danger">
                                                <div *ngIf="weightage.errors.required">
                                                    Weightage is required.
                                                </div>
                                                <div *ngIf="weightage.errors.pattern">
                                                    Number is required.
                                                </div>
                                            </div>

                                        </td>
                                    </div>
                                </div>
                            </div>
                        </tr>
                        <tr>
                            <div class="form-group1">
                                <div class="row">
                                    <div class="col-xl-4">
                                        <td>
                                            <label>Year</label>
                                        </td>
                                    </div>
                                    <div class="col-xl-6">
                                        <td>
                                        <input type="text" class="form-control" name="year" 
                                            [(ngModel)]="reviewOfGoalsTargetObject.year" maxlength="4" minlength="4"
                                            pattern="^[0-9]*"
                                                [required]="true" placeholder="Year of review" 
                                                id="year" #year="ngModel" (keyup)="validate()">
                        
                                            <div *ngIf="year.invalid && (year.dirty || year.touched)" class="alert alert-danger">
                                                <div *ngIf="year.errors.required">
                                                        Year is required. (eg: 2018)
                                                </div>
                                                <div *ngIf="year.errors.maxlength || year.errors.minlength">
                                                        check year length is correct?.
                                                </div>
                                                <div *ngIf="year.errors.pattern">
                                                        Enter only numbers.
                                                </div>
                                            </div>
                                        </td>
                                    </div>
                                </div>
                            </div>
                        </tr>
    
                        <tr>
                            <div class="form-group1">
                                <div class="row">
                                    <div class="col-xl-4">
                                        <td>
                                            <label>Term</label>
                                        </td>
                                    </div>
                                    <div class="col-xl-6">
                                        <td>
                                            <select name="term" [(ngModel)]="reviewOfGoalsTargetObject.term"
                                            [required]="true" #term="ngModel" class="form-control">
                                                   <option value="Mid year review">Mid year review</option>
                                                   <option value="Yearly review">Yearly review</option>
                                               </select>
                                               <div *ngIf="term.invalid && (term.dirty || term.touched)" class="alert alert-danger">
                                                   <div *ngIf="term.errors.required">
                                                           Term is required.
                                                   </div>
                                               </div>
                                        </td>
                                    </div>
                                </div>
                            </div>
                        </tr>

                        <tr>
                                <div class="form-group1">
                                    <div class="row">
                                        <div class="col-xl-4">
                                            <td>
                                                <label>Status</label>
                                            </td>
                                        </div>
                                        <div class="col-xl-6">
                                            <td>
                                               <select name="status" [(ngModel)]="reviewOfGoalsTargetObject.active_status"
                                                [required]="true" #status="ngModel" class="form-control">
                                            <option value="true">Active</option>
                                            <option value="false">De-Active</option>
                                        </select>
                                        <div *ngIf="status.invalid && (status.dirty || status.touched)" class="alert alert-danger">
                                            <div *ngIf="status.errors.required">
                                                    Status is required.
                                            </div>
                                        </div>
                                            </td>
                                        </div>
                                    </div>
                                </div>
                            </tr>
    
                    </table>
                </div>
                <div class="modal-footer">
                    <button [disabled]="!reviewOfGoalsTargetModelForm.valid" type="submit" class="btn btn-success">{{saveOrUpdateModelBtnValue}}</button>
                    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
                </div>
            </form>
        </ng-template>
    </div>