<div *ngIf="loading" style="text-align: center;padding-top: 110px;">
        <img src="/assets/images/loading.gif" alt="loading" style="width: 80px;" />
        <img [hidden]="loading" (load)="onLoad()" src="{{ source }}" />
        <span>Please wait...</span>
    </div>
<div *ngIf="!loading">
    <!-- [@routerTransition]> -->
    <div class="container">
        <h2 class="page-header">Competencies Level List</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <i class="fa fa-dashboard"></i>
                <a href="/dashboard" ng-reflect-router-link="/dashboard">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">
                <i class="fa fa-table"></i> Competencies Level List</li>
        </ol>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <a class="btn btn-success" [routerLink]="['/competencies-level/form']" [routerLinkActive]="['router-link-active']">Add New</a>&nbsp;
                    <tr>
                        <th>No.</th>
                        <th>Level Name</th>
                        <th>Level Desc</th>
                        <th>Sequence</th>
                        <th>Weightage</th>
                        <th>Rating Scale</th>
                        <!-- <th>Scenario 1</th>
                        <th>Scenario 2</th> -->
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let competenciesLevel of competenciesLevelResults;  let i=index">
                        <td>{{i + 1}}</td>
                        <td>
                            <span class="">{{competenciesLevel.level_name}}</span>
                            
                        </td>
                        <td>
                            <span class="">{{competenciesLevel.level_desc}}</span>
                        </td>
                        <td>
                            <span class="">{{competenciesLevel.sequence}}</span>
                        </td>
                        
                        <td>
                            <span class="">{{competenciesLevel.weightage}}</span>
                        </td>

                        <td>
                            <span class="">{{competenciesLevel.rating_scale}}</span>
                        </td>

                        <!-- <td>
                            <span class="">{{competenciesLevel.scenario_1}}</span>
                        </td>

                        <td>
                            <span class="">{{competenciesLevel.scenario_2}}</span>
                        </td> -->

                        <td>
                            <a [routerLink]="['/competencies-level/form',competenciesLevel._id]" [routerLinkActive]="['router-link-active']">
                                <i class="fa fa-edit"></i>
                            </a>&nbsp;
                            <a (click)="onDelete(competenciesLevel)">
                                <i class="fa fa-trash"></i>
                            </a>&nbsp;
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>