<div>
        <div class="container">
                <h2 class="page-header">Competencies Attribute Form</h2>
                <ol  class="breadcrumb">
                    <li class="breadcrumb-item">
                        <i  class="fa fa-dashboard"></i>
                        <a  href="/dashboard" ng-reflect-router-link="/dashboard">Dashboard</a>
                    </li>
                    <li  class="breadcrumb-item">
                        <i  class="fa fa-table"></i>
                        <a [routerLink]="['/competencies-attribute-form-list']" [routerLinkActive]="['router-link-active']"> Competencies Attribute List</a>
                    </li>
                    <li  class="breadcrumb-item active">
                                <i  class="fa fa-table"></i> Competencies Attribute Form
                    </li>
                </ol>
            <form #competenciesAttributeForm="ngForm" (ngSubmit)="onUpdate(competenciesAttributeForm.value)">
                <fieldset  class="form-group">
               
                    <div class="form-group">
                            <input style="display: none;" type="text" class="form-control" 
                            name="_id" [(ngModel)]="competenciesAttributeResults._id" >
                        <label>Attribute:</label>
                        <input type="text" class="form-control" 
                        name="attribute" [(ngModel)]="competenciesAttributeResults.attribute" 
                        [required]="true" placeholder="Competencies Attribute Name">
                    </div>
                    <div class="form-group">
                        <label>Description:</label>
                        <input type="text" class="form-control" 
                        name="attribute_description" [(ngModel)]="competenciesAttributeResults.attribute_description" 
                        [required]="true" placeholder="Competencies Attribute Description">
                    </div>                 
                   
                    <button [disabled]="!competenciesAttributeForm.valid" type="submit" class="btn btn-success">Update</button>
                    &nbsp;
                    <a class="btn btn-danger" [routerLink]="['/competencies-attribute-form-list']" [routerLinkActive]="['router-link-active']">Cancel</a>
            
                </fieldset>
            </form>
        </div>
    </div>