<div *ngIf="loading" style="text-align: center;padding-top: 110px;">
        <img src="/assets/images/loading.gif" alt="loading" style="width: 80px;" />
        <img [hidden]="loading" (load)="onLoad()" src="{{ source }}" />
        <span>Please wait...</span>
</div>
<div *ngIf="!loading">

        <!-- [@routerTransition]> -->
        <div class="container">
                <h2 class="page-header">Competencies Level Form</h2>
                <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                                <i class="fa fa-dashboard"></i>
                                <a href="/dashboard" ng-reflect-router-link="/dashboard">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active">
                                <i class="fa fa-table"></i>
                                <a [routerLink]="['/competencies-level']" [routerLinkActive]="['router-link-active']">Competencies Level List</a>
                        </li>
                        <li class="breadcrumb-item active">
                                <i class="fa fa-table"></i> Competencies Level Form</li>
                </ol>
                <form #competenciesForm="ngForm" (ngSubmit)="onAddData(competenciesForm.value)">

                        <div class="form-group">
                                <input style="display: none;" type="text" class="form-control" name="_id" [(ngModel)]="competenciesLevelResults._id">
                                <label for="level_name">Level Name</label>
                                <input type="text" class="form-control" name="level_name" [required]="true" placeholder="level name" [(ngModel)]="competenciesLevel.level_name || competenciesLevelResults.level_name"
                                        id="level_name" #level_name="ngModel" (keyup)="validate()" minlength="2">
                                <div *ngIf="level_name.invalid && (level_name.dirty || level_name.touched)" class="alert alert-danger">
                                        <div *ngIf="level_name.errors.required">
                                                Level Name is required.
                                        </div>
                                </div>
                                <div *ngIf="!isValid" class="alert alert-danger">
                                        {{isValidErrorMsg}}
                                </div>
                        </div>
                        <div class="form-group">
                                <label for="level_desc">Level Description</label>
                                <textarea type="text" class="form-control" name="level_desc" [(ngModel)]="competenciesLevel.level_desc  || competenciesLevelResults.level_desc"
                                        placeholder="level desc"></textarea>
                        </div>
                        <div class="form-group">
                                <label for="sequence">Sequence</label>
                                <input type="number" class="form-control" name="sequence" [(ngModel)]="competenciesLevel.sequence  || competenciesLevelResults.sequence"
                                        [required]="true" placeholder="sequence" pattern="[0-9] || [0-9]{2}" id="sequence" #sequence="ngModel"
                                        (keyup)="validate()" maxlength="2">

                                <div *ngIf="sequence.invalid && (sequence.dirty || sequence.touched)" class="alert alert-danger">
                                        <div *ngIf="sequence.errors.required">
                                                sequence is required.
                                        </div>
                                        <div *ngIf="sequence.errors.pattern">
                                                Number is required.
                                        </div>
                                </div>
                        </div>
                        <div class="form-group">
                                <label for="weightage">Weightage</label>
                                <input type="number" class="form-control" name="weightage" [(ngModel)]="competenciesLevel.weightage  || competenciesLevelResults.weightage"
                                        [required]="true" placeholder="weightage" pattern="[0-9] || [0-9]{2}" id="weightage" #weightage="ngModel"
                                        (keyup)="validate()" maxlength="2">

                                <div *ngIf="weightage.invalid && (weightage.dirty || weightage.touched)" class="alert alert-danger">
                                        <div *ngIf="weightage.errors.required">
                                                weightage is required.
                                        </div>
                                        <div *ngIf="weightage.errors.pattern">
                                                Number is required.
                                        </div>
                                </div>
                        </div>

                        <div class="form-group">
                                <label for="rating_scale">Rating Scale</label>
                                <input type="text" class="form-control" name="rating_scale" [(ngModel)]="competenciesLevelResults.rating_scale" [required]="true"
                                        placeholder="rating scale" id="rating_scale" #rating_scale="ngModel" (keyup)="validate()">

                                <div *ngIf="rating_scale.invalid && (rating_scale.dirty || rating_scale.touched)" class="alert alert-danger">
                                        <div *ngIf="rating_scale.errors.required">
                                                Rating Scale is required.
                                        </div>

                                </div>
                        </div>
                        <!-- <div class="form-group">
                                <label for="scenario_1">Scenario 1</label>
                                <input type="text" class="form-control" name="scenario_1" [(ngModel)]="competenciesLevelResults.scenario_1"
                                        [required]="true" placeholder="scenario 1" id="scenario_1" #scenario_1="ngModel"
                                        (keyup)="validate()">

                                <div *ngIf="scenario_1.invalid && (scenario_1.dirty || scenario_1.touched)" class="alert alert-danger">
                                        <div *ngIf="scenario_1.errors.required">
                                                Scenario 1 is required.
                                        </div>
                                       
                                </div>
                        </div>

                        <div class="form-group">
                                <label for="scenario_2">Scenario 2</label>
                                <input type="text" class="form-control" name="scenario_2" [(ngModel)]="competenciesLevelResults.scenario_2"
                                        [required]="true" placeholder="scenario 2"  id="scenario_2" #scenario_2="ngModel"
                                        (keyup)="validate()">

                                <div *ngIf="scenario_2.invalid && (scenario_2.dirty || scenario_2.touched)" class="alert alert-danger">
                                        <div *ngIf="scenario_2.errors.required">
                                                Scenario 2 is required.
                                        </div>
                                       
                                </div>
                        </div> -->

                        <button [disabled]="!competenciesForm.valid" type="submit" class="btn btn-success">{{buttonValue}}</button>
                        &nbsp;
                        <a class="btn btn-danger" [routerLink]="['/competencies-level']" [routerLinkActive]="['router-link-active']">Back</a>


                </form>
        </div>
</div>