<div *ngIf="loading" style="text-align: center;padding-top: 110px;">
        <img src="/assets/images/loading.gif" alt="loading" style="width: 80px;" />
        <img [hidden]="loading" (load)="onLoad()" src="{{ source }}" />
        <span>Please wait...</span>
    </div>
<div *ngIf="!loading">
    <!-- <[@routerTransition]> -->
        <div class="container">
                <h2 class="page-header">Goal Category Form</h2>
                <ol  class="breadcrumb">
                    <li class="breadcrumb-item">
                        <i  class="fa fa-dashboard"></i>
                        <a  href="/dashboard" ng-reflect-router-link="/dashboard">Dashboard</a>
                    </li>
                    <li  class="breadcrumb-item">
                        <i  class="fa fa-table"></i>
                        <a [routerLink]="['/goalcategory-list']" [routerLinkActive]="['router-link-active']"> Goal Category List</a>
                    </li>
                    <li  class="breadcrumb-item active">
                                <i  class="fa fa-table"></i> Goal Category Form
                    </li>
                </ol>
            <form #goalCategoryForm="ngForm" (ngSubmit)="onUpdate(goalCategoryForm.value)">
                <fieldset  class="form-group">
               
                    <div class="form-group">
                            <input style="display: none;" type="text" class="form-control" 
                            name="_id" [(ngModel)]="categoryResults._id" >
                        <label>Goal Category Name</label>
                        <input type="text" class="form-control" 
                        name="name" [(ngModel)]="category.name || categoryResults.name" 
                        [required]="true" placeholder="Goal Category Name"
                        id="name" #name="ngModel"  (keyup)="validate()"  minlength="2">

                        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                            <div *ngIf="name.errors.required">
                                Name is required.
                              </div>
                        </div> 
                        <div *ngIf="!isValid" class="alert alert-danger">
                            {{isValidErrorMsg}}
                        </div>
                    </div>
                    
                    <button [disabled]="!goalCategoryForm.valid" type="submit" class="btn btn-success">{{buttonValue}}</button>
                    &nbsp;
                    <a class="btn btn-danger" [routerLink]="['/goalcategory-list']" [routerLinkActive]="['router-link-active']">Back</a>
            
                </fieldset>
            </form>
        </div>
    </div>