<div>

    <!-- [@routerTransition]> -->
    <div class="container">
        <h2 class="page-header">General Config Form</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <i class="fa fa-dashboard"></i>
                <a href="/dashboard" ng-reflect-router-link="/dashboard">Dashboard</a>
            </li>
            <li class="breadcrumb-item">
                <i class="fa fa-table"></i>
                <a [routerLink]="['/general-config-list']" [routerLinkActive]="['router-link-active']"> General Config List</a>
            </li>
            <li class="breadcrumb-item active">
                <i class="fa fa-table"></i> General Config Form
            </li>
        </ol>

        <div class="Notes">
            <p>
                <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
                    aria-controls="collapseExample">
                    Notes
                </button>
            </p>
            <div id="collapseExample" [ngbCollapse]="isCollapsed">
                <div class="card">
                        <div class="card-header">Default Key names</div>
                    <div class="card-body">
                        <ul>
                            <li><b>Appraisal_form_introduction</b> => for Appraisal form Introduction display message.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <form #generalConfigForm="ngForm" (ngSubmit)="onUpdate(generalConfigForm.value)">
            <fieldset class="form-group">
                <input style="display: none;" type="text" class="form-control" name="_id" [(ngModel)]="generalConfigResults._id">
                <div class="form-group">
                    <label>Key *</label>
                    <input type="text" class="form-control" name="key" [(ngModel)]=" generalConfigResults.key" [required]="true" placeholder="Key Name"
                        id="key" #key="ngModel" (keyup)="validate()">
                    <div *ngIf="key.invalid && (key.dirty || key.touched)" class="alert alert-danger">
                        <div *ngIf="key.errors.required">
                            key is required.
                        </div>
                    </div>
                    <div *ngIf="!isValid" class="alert alert-danger">
                        {{isValidErrorMsg}}
                    </div>
                </div>

                <div class="form-group">
                    <label>Key Description</label>
                    <textarea type="text" class="form-control" name="key_desc" [(ngModel)]="generalConfigResults.key_desc" placeholder="Key Description"></textarea>
                </div>
                <div class="form-group">
                    <label>Key Value *</label>
                    <input type="text" class="form-control" name="value" [(ngModel)]="generalConfigResults.value" [required]="true" placeholder="Key Value"
                        id="value" #value="ngModel" (keyup)="validate()">
                    <div *ngIf="value.invalid && (value.dirty || value.touched)" class="alert alert-danger">
                        <div *ngIf="value.errors.required">
                            Key value is required.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Tag:</label>
                    <input type="text" class="form-control" name="tag" [(ngModel)]="generalConfigResults.tag" [required]="true" placeholder="Key Tag Name"
                        id="tag" #tag="ngModel" (keyup)="validate()">
                    <div *ngIf="tag.invalid && (tag.dirty || tag.touched)" class="alert alert-danger">
                        <div *ngIf="tag.errors.required">
                            Tag value is required.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Sequence *</label>
                    <input type="number" class="form-control" name="sequence" [(ngModel)]="generalConfigResults.sequence" [required]="true" placeholder="sequence Number"
                        pattern="[0-9]*" id="sequence" #sequence="ngModel" (keyup)="validate()">
                    <div *ngIf="sequence.invalid && (sequence.dirty || sequence.touched)" class="alert alert-danger">
                        <div *ngIf="sequence.errors.required">
                            Sequence is required.
                        </div>
                        <div *ngIf="sequence.errors.pattern">
                            Number is required.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea type="text" class="form-control" name="description" [(ngModel)]="generalConfigResults.description" placeholder="Description"></textarea>
                </div>



                <button [disabled]="!generalConfigForm.valid" type="submit" class="btn btn-success">{{buttonValue}}</button>
                &nbsp;
                <a class="btn btn-danger" [routerLink]="['/general-config-list']" [routerLinkActive]="['router-link-active']">Back</a>

            </fieldset>
        </form>
    </div>
</div>