
        <div>
            <div class="container">
                    <h2 class="page-header">General Config Form</h2>
                    <ol  class="breadcrumb">
                        <li class="breadcrumb-item">
                            <i  class="fa fa-dashboard"></i>
                            <a  href="/dashboard" ng-reflect-router-link="/dashboard">Dashboard</a>
                        </li>
                        <li  class="breadcrumb-item">
                            <i  class="fa fa-table"></i>
                            <a [routerLink]="['/general-config-list']" [routerLinkActive]="['router-link-active']"> General Config List</a>
                        </li>
                        <li  class="breadcrumb-item active">
                                    <i  class="fa fa-table"></i> General Config Form
                        </li>
                    </ol>
                <form #generalConfigForm="ngForm" (ngSubmit)="onSubmitGeneralConfigAttr(generalConfigForm)">
                    
                        <div class="form-group">
                            <label for="key">Key:</label>
                            <input type="text" class="form-control" 
                            name="key" [(ngModel)]="generalConfig.key" [required]="true"
                            placeholder="Key Name">

                        </div>

                        <div class="form-group">
                            <label for="key">Key Description:</label>
                            <input type="key_desc" class="form-control" 
                            name="key_desc" [(ngModel)]="generalConfig.key_desc" 
                            placeholder="Key Description">
                        </div>
                        <div class="form-group">
                            <label for="value">Value:</label>
                            <input type="text" class="form-control" 
                            name="value" [(ngModel)]="generalConfig.value" [required]="true"
                            placeholder="Key Value">
                        </div> 
                        <div class="form-group">
                            <label for="tag">Tag:</label>
                            <input type="text" class="form-control" 
                            name="tag" [(ngModel)]="generalConfig.tag" [required]="true"
                            placeholder="Key Tag">
                        </div>        
                        <div class="form-group">
                            <label for="sequence">Sequence:</label>
                            <input type="text" class="form-control" 
                            name="sequence" [(ngModel)]="generalConfig.sequence" [required]="true" 
                            placeholder="Sequence Number" pattern="[0-9]*">
                        </div> 
                        
                        <div class="form-group">
                            <label for="description">Description:</label>
                            <input type="text" class="form-control" 
                            name="description" [(ngModel)]="generalConfig.description" 
                            placeholder="Description">
                        </div>        
 
                        <button [disabled]="!generalConfigForm.valid" type="submit" class="btn btn-success">Save</button>
                        &nbsp;
                        <a class="btn btn-danger" [routerLink]="['/general-config-list']" [routerLinkActive]="['router-link-active']">Cancel</a>
                
               
                </form>
            </div>
        </div>