<div>
     <!-- [@routerTransition]> -->
        <div class="container">
            <h2 class="page-header">Goal Attribute List</h2>
            <ol  class="breadcrumb">
                <li class="breadcrumb-item">
                    <i  class="fa fa-dashboard"></i>
                    <a  href="/dashboard" ng-reflect-router-link="/dashboard">Dashboard</a>
                </li>
                <li  class="breadcrumb-item active">
                    <i  class="fa fa-table"></i> Goal Attribute List</li>
            </ol>
            <a class="btn btn-success" [routerLink]="['/goal-attribute-form']" [routerLinkActive]="['router-link-active']">Add New</a>&nbsp;
            <a class="btn btn-primary" (click)="switchTable()">Switch table view</a>&nbsp;
        <fieldset [hidden]="!switchOnOff">
            <div class="table-responsive">
                <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>No.</th>
                            <th>Goal Attribute</th>
                            <th>Category</th>
                            <th>Sub Category</th>
                            <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let goal of goalAttributeResults;  let i=index">
                                <td>{{i + 1}}</td>
                            <td><span class="" >{{goal.attribute}}</span></td>
                            <td><span class="" >{{goal.attribute_category.name}}</span></td>
                            <td><span class="" >{{goal.attribute_sub_category.name}}</span></td>
                            <td>
                                <a [routerLink]="['/goal-attribute-form',goal._id]" [routerLinkActive]="['router-link-active']" ><i  class="fa fa-edit"></i></a>&nbsp;
                                <a (click)="onDelete(goal)" ><i  class="fa fa-trash"></i></a>&nbsp;
                            </td>
                        </tr>     
                    </tbody>
                    </table>
            </div>
        </fieldset>
        <fieldset [hidden]="switchOnOff">
        <ng2-smart-table [settings]="settings" [(source)]="source" (custom)="onCustomAction($event)"></ng2-smart-table>
</fieldset>
        </div>
    </div>