<div>

 <!-- [@routerTransition]> -->
        <div class="container">
            <h2 class="page-header">Competencies Attribute List</h2>
            <ol  class="breadcrumb">
                <li class="breadcrumb-item">
                    <i  class="fa fa-dashboard"></i>
                    <a  href="/dashboard" ng-reflect-router-link="/dashboard">Dashboard</a>
                </li>
                <li  class="breadcrumb-item active">
                    <i  class="fa fa-table"></i> Competencies Attribute List</li>
            </ol>
           
            <div class="table-responsive">
                <table class="table table-hover">
                        <thead>
                                <a class="btn btn-success" [routerLink]="['/competencies-attribute-form-list/form']" [routerLinkActive]="['router-link-active']">Add New</a>&nbsp;
                          <tr>
                                <th>No.</th>
                                <th>Attribute</th>
                                <th>Attribute Description</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let competenciesAttribute of CompetenciesAttributeResults;  let i=index">
                                <td>{{i + 1}}</td>
                                <td><span class="" >{{competenciesAttribute.attribute}}</span></td>
                                <td><span class="" >{{competenciesAttribute.attribute_description}}</span></td>
                                
                                <td>
                                        <a [routerLink]="['/competencies-attribute-form-list/form',competenciesAttribute._id]" [routerLinkActive]="['router-link-active']" (click)="isListUpdate=true;isListView=false;" [routerLink]="['/competencies-attribute-form-list',competenciesAttribute._id]" [routerLinkActive]="['router-link-active']"><i  class="fa fa-edit"></i></a>&nbsp;
                                        <a (click)="onDelete(competenciesAttribute)"  ><i  class="fa fa-trash"></i></a>&nbsp;
                                </td>
                        </tr>     
                    </tbody>
                    </table>
            </div>
        </div>
    </div>

