<div *ngIf="loading" style="text-align: center;padding-top: 110px;">
        <img src="/assets/images/loading.gif" alt="loading" style="width: 80px;" />
        <img [hidden]="loading" (load)="onLoad()" src="{{ source }}" />
        <span>Please wait...</span>
    </div>
<div *ngIf="!loading">
        <!-- [@routerTransition]> -->
            <div class="container">
                <h2 class="page-header">Review of Goal List</h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <i class="fa fa-dashboard"></i>
                        <a href="/dashboard" ng-reflect-router-link="/dashboard">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <i class="fa fa-table"></i> Review of Goal List List</li>
                </ol>
                <a class="btn btn-success" [routerLink]="['/review-of-goals-list/form']" [routerLinkActive]="['router-link-active']">Add New</a>&nbsp;
                <a class="btn btn-info" (click)="onModelOpenReviewOfGoalsClone(ReviewOfGoalsClone)">Clone</a>&nbsp;
               
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Function</th>
                                <th>Role</th>
                                <th >Goal Category</th>
                                <th >Goal SubCategory</th>
                                <th >Description</th>
                                <th >Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let result of reviewOfGoalsResults;  let i=index">
                                <td>{{i + 1}}</td>
                                <td >
                                    <span class="">{{result.function}}</span>
                                </td>
                                <td >
                                    <span class="">{{result.role.name}}</span>
                                </td>
                                <td>
                                    <span class="">{{result.category.name}} </span>
                                </td>
                                <td>
                                    <span class="">{{result.subcategory.name}} </span>
                                </td>
                                <td>
                                    <span class="">{{result.description}} </span>
                                </td>
                                
                                <td >
                                    <a [routerLink]="['/review-of-goals-list/form/',result._id]" [routerLinkActive]="['router-link-active']">
                                        <i class="fa fa-edit"></i>
                                    </a>&nbsp;
                                    <a (click)="onDelete(result)" >
                                        <i class="fa fa-trash"></i>
                                    </a>&nbsp;
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
           
         
            </div>
        </div>


 <!-- Large modal -->
<div class="card-body" >
        <ng-template #ReviewOfGoalsClone let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h4 class="modal-title">Clone - Review of Goals</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form #reviewOfGoalsCloneModelForm="ngForm" (ngSubmit)="onCloneReviewOfGoals()">
                <div class="modal-body">
                    <table class="table table-striped  table-text-md">
                        <tr>
                            <label>Clone From</label>
                        </tr>
                        <tr>
                            <div class="form-group1">
                                <div class="row">
                                    <div class="col-12">
                                        <td>
                                            <label>Year</label>
                                        </td>
                                        <td>
                                                <input type="text" class="form-control" name="fromYear" 
                                                [(ngModel)]="cloneModel.fromYear" maxlength="4" minlength="4"
                                                pattern="^[0-9]*"
                                                    [required]="true" placeholder="From Year" 
                                                    #fromYear="ngModel">
                            
                                                <div *ngIf="fromYear.invalid && (fromYear.dirty || fromYear.touched)" class="alert alert-danger">
                                                    <div *ngIf="fromYear.errors.required">
                                                            From-year is required. (eg: 2018)
                                                    </div>
                                                    <div *ngIf="fromYear.errors.maxlength || fromYear.errors.minlength">
                                                            check from-year length is correct?.
                                                    </div>
                                                    <div *ngIf="fromYear.errors.pattern">
                                                            Enter only numbers.
                                                    </div>
                                                </div>
                                        </td>
                                    </div>
                                </div>
                                <div class="row">        
                                    <div class="col-12">
                                        <td>
                                            <label>Term</label>
                                        </td>
                                        <td>
                                                <select name="fromTerm" [(ngModel)]="cloneModel.fromTerm"
                                                [required]="true" #fromTerm="ngModel" class="form-control">
                                                       <option value="Mid year review">Mid year review</option>
                                                       <option value="Yearly review">Yearly review</option>
                                                   </select>
                                                   <div *ngIf="fromTerm.invalid && (fromTerm.dirty || fromTerm.touched)" class="alert alert-danger">
                                                       <div *ngIf="fromTerm.errors.required">
                                                            From-Term is required.
                                                       </div>
                                                   </div>
                                        </td>
                                    </div>
                                    
                                </div>
                            </div>
                        </tr>
                        <tr>
                            <label>Clone To</label>
                        </tr>
                        <tr>
                                <div class="form-group1">
                                    <div class="row">
                                        <div class="col-12">
                                            <td>
                                                <label>Year</label>
                                            </td>
                                            <td>
                                                    <input type="text" class="form-control" name="toYear" 
                                                    [(ngModel)]="cloneModel.toYear" maxlength="4" minlength="4"
                                                    pattern="^[0-9]*" 
                                                        [required]="true" placeholder="To Year" 
                                                        #toYear="ngModel">
                                
                                                    <div *ngIf="toYear.invalid && (toYear.dirty || toYear.touched)" class="alert alert-danger">
                                                        <div *ngIf="toYear.errors.required">
                                                                To-Year is required. (eg: 2018)
                                                        </div>
                                                        <div *ngIf="toYear.errors.maxlength || toYear.errors.minlength">
                                                                check To-Year length is correct?.
                                                        </div>
                                                        <div *ngIf="toYear.errors.pattern">
                                                                Enter only numbers.
                                                        </div>
                                                    </div>
                                            </td>
                                        </div>
                                    </div>
                                    <div class="row">        
                                        <div class="col-12">
                                            <td>
                                                <label>Term</label>
                                            </td>
                                            <td>
                                                    <select name="toTerm" [(ngModel)]="cloneModel.toTerm"
                                                    [required]="true" #toTerm="ngModel" class="form-control">
                                                           <option value="Mid year review">Mid year review</option>
                                                           <option value="Yearly review">Yearly review</option>
                                                       </select>
                                                       <div *ngIf="toTerm.invalid && (toTerm.dirty || toTerm.touched)" class="alert alert-danger">
                                                           <div *ngIf="toTerm.errors.required">
                                                                To-Term is required.
                                                           </div>
                                                       </div>
                                            </td>
                                        </div>
                                        
                                    </div>
                                </div>
                            </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button [disabled]="!reviewOfGoalsCloneModelForm.valid" type="submit" class="btn btn-success">Clone now</button>
                    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
                </div>
            </form>
        </ng-template>
    </div>       