<div *ngIf="loading" style="text-align: center;padding-top: 110px;">
    <img src="/assets/images/loading.gif" alt="loading" style="width: 80px;" />
    <img [hidden]="loading" (load)="onLoad()" src="{{ source }}" />
    <span>Please wait...</span>
</div>
<div *ngIf="!loading">
    <!-- [@routerTransition]> -->
    <div class="container">
        <h2 class="page-header">Appraisal List</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <i class="fa fa-dashboard"></i>
                <a href="/dashboard" ng-reflect-router-link="/dashboard">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">
                <i class="fa fa-table"></i> Appraisal List</li>
        </ol>
        <a class="btn btn-success" [routerLink]="['/appraisal/form']" [routerLinkActive]="['router-link-active']">Add New</a>&nbsp;
        <a class="btn btn-primary" (click)="switchTable()">Switch table view</a>&nbsp;
        <fieldset [hidden]="!switchOnOff">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>

                        <tr>
                            <th>No.</th>
                            <th>Appraisal Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let appraisalMaster of appraisalMasterResults;  let i=index">
                            <td>{{i + 1}}</td>
                            <td>
                                <span class="">{{appraisalMaster.appraisal_name}}</span>
                            </td>
                            <td>
                                <a [routerLink]="['/appraisal/form',appraisalMaster._id]" [routerLinkActive]="['router-link-active']">
                                    <i class="fa fa-edit"></i>
                                </a>&nbsp;


                                <a (click)="onDelete(appraisalMaster)">
                                    <i class="fa fa-trash"></i>
                                </a>&nbsp;

                                <a [routerLink]="['/appraisal/status',appraisalMaster._id]" [routerLinkActive]="['router-link-active']">
                                    <i class="fa fa-tasks"></i>
                                </a>&nbsp;
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
        <!-- smart data table -->
        <fieldset [hidden]="switchOnOff">
            <ng2-smart-table [settings]="settings" [(source)]="source" (custom)="onCustomAction($event)"></ng2-smart-table>
        </fieldset>


    </div>
</div>