
<div>
    <div class="container">
            <h2 class="page-header">Goal Attribute Form</h2>
            <ol  class="breadcrumb">
                <li class="breadcrumb-item">
                    <i  class="fa fa-dashboard"></i>
                    <a  href="/dashboard" ng-reflect-router-link="/dashboard">Dashboard</a>
                </li>
                <li  class="breadcrumb-item">
                    <i  class="fa fa-table"></i>
                    <a [routerLink]="['/goal-attribute-list']" [routerLinkActive]="['router-link-active']"> Goal Attribute List</a>
                </li>
                <li  class="breadcrumb-item active">
                            <i  class="fa fa-table"></i> Goal Attribute Form
                </li>
            </ol>
        <form #goalAttributeForm="ngForm" (ngSubmit)="onSubmit(goalAttributeForm.value)">
            <fieldset  class="form-group">

                <div class="form-group">
                    <label for="attribute">Goal Attribute Name</label>
                    <input type="text" class="form-control" 
                    name="attribute" [(ngModel)]="goalAttribute.attribute" [required]="true"
                    placeholder="goalAttribute Name"
                    id="name" #name="ngModel"  (keyup)="validate()"  minlength="2">

                    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                        <div *ngIf="name.errors.required">
                            Name is required.
                          </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Goal Category: </label>
                    <select 
                    name="attribute_category" [(ngModel)]="goalAttribute.attribute_category" 
                    [required]="true" id="attribute_category" #attribute_category="ngModel">
                        <option value="0">--All--</option>
                        <option *ngFor="let category of categories" value={{category._id}}>
                            {{category.name}}
                        </option>
                    </select>
                    <div *ngIf="attribute_category.invalid && (attribute_category.dirty || attribute_category.touched)" class="alert alert-danger">
                            <div *ngIf="attribute_category.errors.required">
                                    Goal Category is required.
                              </div>
                        </div>
                </div>
                <div class="form-group">
                    <label>Goal Subcategory: </label>
                    <select 
                    name="attribute_sub_category" [(ngModel)]="goalAttribute.attribute_sub_category" 
                    [required]="true" id="attribute_sub_category" #attribute_sub_category="ngModel">
                        <option value="0">--All--</option>
                        <option *ngFor="let subcategory of subcategories" value={{subcategory._id}}>
                            {{subcategory.name}}
                        </option>
                    </select>
                    <div *ngIf="attribute_sub_category.invalid && (attribute_sub_category.dirty || attribute_sub_category.touched)" class="alert alert-danger">
                            <div *ngIf="attribute_sub_category.errors.required">
                                    Goal Sub-Category is required.
                              </div>
                        </div>
                </div>

                <!-- <div>
                    <ss-multiselect-dropdown [options]="myOptions" [(ngModel)]="optionsModel" (ngModelChange)="onChange($event)" name="optionsModel"></ss-multiselect-dropdown>
                </div> -->
            
                <button [disabled]="!goalAttributeForm.valid" type="submit" class="btn btn-success">Save</button>
                &nbsp;
                <a class="btn btn-danger" [routerLink]="['/goal-attribute-list']" [routerLinkActive]="['router-link-active']">Cancel</a>
        
            </fieldset>
        </form>
    </div>
</div>
