<div >
    <!-- [@routerTransition]> -->
             <div class="container">
               <h2 class="page-header">Matric to Look For Last Year Form</h2>
           <ol  class="breadcrumb">
                    <li class="breadcrumb-item">
                        <i  class="fa fa-dashboard"></i>
                        <a  href="/dashboard" ng-reflect-router-link="/dashboard">Dashboard</a>
                    </li>
                    <li  class="breadcrumb-item">
                        <i  class="fa fa-table"></i>
                        <a [routerLink]="['/matric-look-for-last-year-list']" [routerLinkActive]="['router-link-active']"> Matric Look For Last Year List</a>
                    </li>
                    <li  class="breadcrumb-item active">
                                <i  class="fa fa-table"></i> Matric Look For Last Year Form
                    </li>
                </ol>
            <form #matrixLookForLastYearForm="ngForm" (ngSubmit)="onUpdate(matrixLookForLastYearForm.value)">
                <fieldset  class="form-group">
                   
                    <div class="form-group">
                        <label>Matrics:</label>
                        <input style="display: none;" type="text" class="form-control" 
                        name="_id" [(ngModel)]="matricsResult._id"  >
                        <input type="text" class="form-control" 
                        name="name" [(ngModel)]="matrixLookForLastYear.name || matricsResult.name" 
                        [required]="true" placeholder="Matrics Name"
                        id="name" #name="ngModel" (keyup)="validate()" minlength="2">

                        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                            <div *ngIf="name.errors.required">
                                Name is required.
                              </div>
                        </div>
                        <div *ngIf="!isValid" class="alert alert-danger">
                            {{isValidErrorMsg}}
                        </div>
                    </div>
                   
                    <button [disabled]="!matrixLookForLastYearForm.valid" type="submit" class="btn btn-success">{{buttonValue}}</button>
                    &nbsp;
                    <a class="btn btn-danger" [routerLink]="['/matric-look-for-last-year-list']" [routerLinkActive]="['router-link-active']">Back</a>
            
                </fieldset>
            </form>
        </div>
    </div>