<div *ngIf="loading" style="text-align: center;padding-top: 110px;">
        <img src="/assets/images/loading.gif" alt="loading" style="width: 80px;" />
        <img [hidden]="loading" (load)="onLoad()" src="{{ source }}" />
        <span>Please wait...</span>
    </div>
<div *ngIf="!loading">
    
    <!-- [@routerTransition]> -->
        <div class="container">
                <h2 class="page-header">Role Form</h2>
                <ol  class="breadcrumb">
                    <li class="breadcrumb-item">
                        <i  class="fa fa-dashboard"></i>
                        <a  href="/dashboard" ng-reflect-router-link="/dashboard">Dashboard</a>
                    </li>
                
                    <li  class="breadcrumb-item active">
                                <i  class="fa fa-table"></i> Role Form
                    </li>
                </ol>
            <form #roleForm="ngForm" (ngSubmit)="onUpdate(roleForm.value)">
                <fieldset  class="form-group">
               
                    <div class="form-group">
                            <input style="display: none;" type="text" class="form-control" 
                            name="_id" [(ngModel)]="roleResults._id">
                            
                        <label>Role Name</label>
                        <input type="text" class="form-control" 
                        name="name" [(ngModel)]="role.name || roleResults.name" 
                        required minlength="2"   placeholder="Role Name" #name="ngModel"
                        (keyup)="validate()"
                        > 
                        
                        <div *ngIf="name.invalid && (name.dirty || name.touched)"
						    class="alert alert-danger">
						
						  <div *ngIf="name.errors.required">
						    Name is required.
						  </div>
						  <div *ngIf="name.errors.minlength">
						    Name must be at least 2 characters long.
						  </div>
						  <div *ngIf="name.errors.forbiddenName">
						    Name cannot be Bob.
                          </div>
                        </div>
                        <div *ngIf="!isValid" class="alert alert-danger">
                            {{isValidErrorMsg}}
                        </div>
                    </div>
                    
                    <button [disabled]="!roleForm.valid" type="submit" class="btn btn-success">{{buttonValue}}</button>
                    &nbsp;
                    <a class="btn btn-danger" [routerLink]="['/role-list']" [routerLinkActive]="['router-link-active']">Back</a>
            
                </fieldset>
            </form>
        </div>
    </div>