<div *ngIf="loading" style="text-align: center;padding-top: 110px;">
        <img src="/assets/images/loading.gif" alt="loading" style="width: 80px;" />
        <img [hidden]="loading" (load)="onLoad()" src="{{ source }}" />
        <span>Please wait...</span>
    </div>
<div *ngIf="!loading">
    <!-- [@routerTransition]> -->
    <div class="container">
        <h2 class="page-header">Functional List</h2>
        <ol  class="breadcrumb">
            <li class="breadcrumb-item">
                <i  class="fa fa-dashboard"></i>
                <a  href="/dashboard" ng-reflect-router-link="/dashboard">Dashboard</a>
            </li>
            <li  class="breadcrumb-item active">
                <i  class="fa fa-table"></i> Functional List</li>
        </ol>
        <a class="btn btn-success" [routerLink]="['/functional-list/form']" [routerLinkActive]="['router-link-active']">Add New</a>&nbsp;
        <a class="btn btn-success" (click)="autoAddFunctionsList()">Auto add</a>&nbsp;
        <a class="btn btn-primary" (click)="switchTable()">Switch table view</a>&nbsp;
        <fieldset [hidden]="!switchOnOff">
        <div class="table-responsive">
            <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>No.</th>
                        <th>Function Name</th>
                        <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let functions of functionalListResults;  let i=index">
                            <td>{{i + 1}}</td>
                        <td><span class="" >{{functions.name}}</span></td>
                        <td>
                            <a [routerLink]="['/functional-list/form',functions._id]" [routerLinkActive]="['router-link-active']"><i  class="fa fa-edit"></i></a>&nbsp;
                            <a (click)="onDelete(functions)"  ><i  class="fa fa-trash"></i></a>&nbsp;
                        </td>
                    </tr>     
                </tbody>
                </table>
        </div>
    </fieldset>
    <fieldset [hidden]="switchOnOff">
        <ng2-smart-table [settings]="settings" [(source)]="source" (custom)="onCustomAction($event)"></ng2-smart-table>
</fieldset>
    </div>
</div>