
<div>
        <div class="container">
                <h2 class="page-header">Appriasal Functional Attribute Form</h2>
                <ol  class="breadcrumb">
                    <li class="breadcrumb-item">
                        <i  class="fa fa-dashboard"></i>
                        <a  href="/dashboard" ng-reflect-router-link="/dashboard">Dashboard</a>
                    </li>
                    <li  class="breadcrumb-item">
                        <i  class="fa fa-table"></i>
                        <a [routerLink]="['/apprisal-functional-attribute-list']" [routerLinkActive]="['router-link-active']"> Appriasal Functional Attribute List</a>
                    </li>
                    <li  class="breadcrumb-item active">
                                <i  class="fa fa-table"></i> Appriasal Functional Attribute Form
                    </li>
                </ol>
            <form #apppraisalFunctionalAttributeForm="ngForm" (ngSubmit)="onUpdate(apppraisalFunctionalAttributeForm.value)">
                <fieldset  class="form-group">
                        <table class="table table-striped  table-text-md">
                        <tbody>
                            <tr>
                    <div class="form-group">
                            <input style="display: none;" type="text" class="form-control" 
                            name="_id" [(ngModel)]="apprisalFunctionalAttributeResults._id" 
                            id="function_id" #function_id="ngModel"  (keyup)="validate()">
                            <td width="300px">
                                    <label>Functional ID *</label>
                                </td>
                                <td width="400px">
                        <select 
                        name="function_id" [(ngModel)]="apprisalFunctionalAttributeResults.function_id" [required]="true" style=" width: 400px;">
                            <option *ngFor="let functionid of functionids" value={{functionid}}>
                                {{functionid}}
                            </option>
                        </select>
                        <div *ngIf="function_id.invalid && (function_id.dirty || function_id.touched)" class="alert alert-danger">
                                <div *ngIf="function_id.errors.required">
                                        Functional ID is required.
                                  </div>
                            </div>
                        </td>
                    </div>
                </tr>
                <tr>
                        <div class="form-group">
                            <td width="300px">
                                    <label>Role *</label>
                                </td>
                                <td width="400px">
                        <select (change)="filterForeCasts($event.target.value)"
                        name="role_id" [(ngModel)]="apprisalFunctionalAttributeResults.role_id._id"
                        [required]="true" style=" width: 400px;"
                        id="role_id" #role_id="ngModel"  (keyup)="validate()">
                            <option *ngFor="let role of roles" value={{role._id}}>
                                {{role.name}}
                            </option>
                        </select>
                        <div *ngIf="role_id.invalid && (role_id.dirty || role_id.touched)" class="alert alert-danger">
                                <div *ngIf="role_id.errors.required">
                                        Role is required.
                                  </div>
                            </div>
                     </td>
                </div>
            </tr>
            <tr>
                <div class="form-group">
                    <td width="300px">
                        <label>Category *</label>
                    </td>
                    <td width="400px">
                            <select name="category_name" [(ngModel)]="apprisalFunctionalAttributeResults.category._id"
                            style=" width: 400px;" id="category_name" #category_name="ngModel">
                           <option *ngFor="let category of categorys" value={{category._id}}>
                               {{category.name}}
                           </option>
                       </select>
                        </td>
                        <!-- [(ngModel)]="apprisalFunctionalAttributeResults.goal_attributes._id"  -->
                    </div>
                </tr>
                <tr>
                    <div class="form-group">
                        <td width="300px">
                            <label>Sub Category *</label>
                        </td>
                        <td width="400px">
                                <ss-multiselect-dropdown [options]="goalSubCategoryOptions" 
                                [(ngModel)]="apprisalFunctionalAttributeResults.subcategory._id" [settings]="mySettings"
                                name="goal_subcategory" style=" width: 400px;" id="goal_subcategory"
                                #goal_subcategory="ngModel">
                            </ss-multiselect-dropdown>
                            </td>
                        </div>
                    </tr>
                <tr>
                    <div class="form-group">
                        <td width="300px"><label>Descriptions *</label></td>
                        <td width="400px">
                                <textarea type="text" class="form-control" name="description" [(ngModel)]="apprisalFunctionalAttributeResults.description"
                                placeholder="description" id="description" #description="ngModel" (keyup)="validate()" style="height: 108px;">
                               </textarea>
                        
                       </td>
                    </div>
                </tr>
            </tbody>

        </table>

                
                    <div class="form-group">
                        <label>Target For Last Year *</label>
                        <input type="number" class="form-control" 
                        name="target_for_last_year" [(ngModel)]="apprisalFunctionalAttributeResults.target_for_last_year" 
                        [required]="true" placeholder="Target For Last Year"
                        pattern="[0-9] || [0-9]{2} || [0-9]{3}" maxlength="3"
                        id="target_for_last_year" #target_for_last_year="ngModel"  (keyup)="validate()">
                        <div *ngIf="target_for_last_year.invalid && (target_for_last_year.dirty || target_for_last_year.touched)" class="alert alert-danger">
                                <div *ngIf="target_for_last_year.errors.required">
                                        Target For Last Year is required.
                                  </div>
                                  <div *ngIf="target_for_last_year.errors.pattern">
                                        Number is required.
                                  </div>
                            </div>
                    </div>
                    <div class="form-group">
                        <label>Target For  Last Year Unit</label>
                        <input type="text" class="form-control" 
                        name="target_for_last_year_unit" [(ngModel)]="apprisalFunctionalAttributeResults.target_for_last_year_unit" 
                        [required]="true" placeholder="Target For  Last Year Unit"
                        id="target_for_last_year_unit" #target_for_last_year_unit="ngModel"  (keyup)="validate()">
                        
                        <div *ngIf="target_for_last_year_unit.invalid && (target_for_last_year_unit.dirty || target_for_last_year_unit.touched)" class="alert alert-danger">
                                <div *ngIf="target_for_last_year_unit.errors.required">
                                        Target For Last Year is required. (eg. %)
                                  </div>
                                  
                            </div>
                    </div>
                    <div class="form-group">
                        <label>Target For Last Year Description</label>
                        <textarea type="text" class="form-control" 
                        name="target_for_last_year_description" [(ngModel)]="apprisalFunctionalAttributeResults.target_for_last_year_description" 
                         placeholder="Target For Last Year Description"></textarea>
                    </div>
    
    
                    <div class="form-group">
                        <label>Target For  Next Year *</label>
                        <input type="number" class="form-control" 
                        name="target_for_next_year" [(ngModel)]="apprisalFunctionalAttributeResults.target_for_next_year" 
                        [required]="true" placeholder="Target For  Next Year"
                        pattern="[0-9] || [0-9]{2} || [0-9]{3}" maxlength="3"
                        id="target_for_next_year" #target_for_next_year="ngModel"  (keyup)="validate()">
                        
                        <div *ngIf="target_for_next_year.invalid && (target_for_next_year.dirty || target_for_next_year.touched)" class="alert alert-danger">
                                <div *ngIf="target_for_next_year.errors.required">
                                        Target For Next Year is required.
                                  </div>
                                  <div *ngIf="target_for_next_year.errors.pattern">
                                        Number is required.
                                  </div>
                            </div>
                    </div>
                    <div class="form-group">
                        <label>Target For Next Year Unit *</label>
                        <input type="text" class="form-control" 
                        name="target_for_next_year_unit" [(ngModel)]="apprisalFunctionalAttributeResults.target_for_next_year_unit" 
                        [required]="true" placeholder="Target For Next Year Unit"
                        id="target_for_next_year_unit" #target_for_next_year_unit="ngModel"  (keyup)="validate()">
                        
                        <div *ngIf="target_for_next_year_unit.invalid && (target_for_next_year_unit.dirty || target_for_next_year_unit.touched)" class="alert alert-danger">
                                <div *ngIf="target_for_next_year_unit.errors.required">
                                        Target For Next Year is required. (eg. %)
                                  </div>
                                  
                            </div>
                    </div>
                    <div class="form-group">
                        <label>Target For Next Year Description</label>
                        <textarea type="text" class="form-control" 
                        name="target_for_next_year_description" [(ngModel)]="apprisalFunctionalAttributeResults.target_for_next_year_description" 
                       placeholder="Target For Next Year Description"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Weightage *</label>
                        <input type="number" class="form-control" 
                        name="weightage" [(ngModel)]="apprisalFunctionalAttributeResults.weightage" 
                        [required]="true" placeholder="Weightage Number"
                        pattern="[0-9] || [0-9]{2} || [0-9]{3}" maxlength="3"
                        id="weightage" #weightage="ngModel"  (keyup)="validate()">
                        
                        <div *ngIf="weightage.invalid && (weightage.dirty || weightage.touched)" class="alert alert-danger">
                                <div *ngIf="weightage.errors.required">
                                        Weightage is required. (eg: 1)
                                  </div>
                                  <div *ngIf="weightage.errors.pattern">
                                        Number is required.
                                  </div>
                            </div>
                    </div>
                  
                    <button [disabled]="!apppraisalFunctionalAttributeForm.valid" type="submit" class="btn btn-success">Update</button>
                    &nbsp;
                    <a class="btn btn-danger" [routerLink]="['/apprisal-functional-attribute-list']" [routerLinkActive]="['router-link-active']">Back</a>
            
                </fieldset>
            </form>
        </div>
    </div>
    
    